﻿@model GestaoConsorcio.Models.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Trocar senha
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-edit"></i> Trocar senha
                        </li>
                    </ol>
                </div>
            </div>

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group ">
                        <label class="col-md-2 control-label" for="OldPassword">Senha atual</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="OldPassword" id="OldPassword">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-2 control-label" for="NewPassword">Nova senha</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="NewPassword" id="NewPassword">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-2 control-label" for="ConfirmPassword">Confirmação senha</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword">
                        </div>
                    </div>
                  

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong> Trocar senha</strong>
                            </button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </div>
}
