﻿@model GestaoConsorcio.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>


@using (Html.BeginForm())
{
    <form role="form" name="login">
        @Html.AntiForgeryToken()

        <div class="login-box">
            @Html.ValidationSummary(true, "", new { @class = "alert-box" })
            <div class="form-group">
                <input type="email" placeholder="E-mail" id="Email" name="Email" class="input-control" />
                <span class="error" style="color:#a94442">@Html.ValidationMessageFor(s => s.Email)</span>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Senha" id="Password" name="Password" class="input-control" />
                <span class="error" style="color:#a94442">@Html.ValidationMessageFor(s => s.Password)</span>
            </div>

            <input class="btn-login" type="submit" value="Entrar" />
        </div>
    </form>

}
<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
