﻿@model GestaoConsorcio.Models.RegisterViewModel
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> listItems = new List<SelectListItem>();

    GestaoConsorcio.Models.Banco.db_gestaocotamelhor_desenvEntities banco = new GestaoConsorcio.Models.Banco.db_gestaocotamelhor_desenvEntities();
    var retorno = banco.Grupoes;
    int cont = 0;

    foreach (GestaoConsorcio.Models.Banco.Grupo grupo in retorno)
    {
        if (cont == 1)
        {
            listItems.Add(new SelectListItem
            {
                Text = grupo.Name,
                Value = grupo.Id.ToString()
            });
        }
        else
        {
            listItems.Add(new SelectListItem
            {
                Text = grupo.Name,
                Value = grupo.Id.ToString(),
                Selected = true
            });
        }
        cont++;
    }



    var Tipo = listItems;
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
   
    @Html.AntiForgeryToken()
   
    
    
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Novo Usuário
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-gear"></i> Novo Usuário
                        </li>
                    </ol>
                </div>
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group ">
                         @Html.Label("Tipo", new { @class = "col-md-2 control-label" })
                        
                        <div class="col-md-10">
                            @Html.DropDownList("Tipo", (IEnumerable<SelectListItem>)Tipo, new { @class = "form-control" })
                        
                        </div>


                        </div>

                    <div class="form-group ">
                        <label class="col-md-2 control-label" for="Nome">Nome</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="Nome" id="Nome">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-2 control-label" for="Sobrenome">Sobrenome</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="Sobrenome" id="Sobrenome">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-2 control-label" for="Email">Email</label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" name="Email" id="Email">
                        </div>
                      </div>
                    <div class="form-group ">
                        <label class="col-md-2 control-label" for="Password">Senha</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="Password" id="Password">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-2 control-label" for="ConfirmPassword">Confirma senha</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Consultor">Consultor</label>
                        <div class="col-md-10">
                            <label class="radio-inline">
                                @Html.RadioButton("RadioOption", true, true, "Sim") Sim
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButton("RadioOption", false, false, "Nao") Não
                            </label>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong>Salvar</strong>
                            </button>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
        </div>
        }
