﻿@model List<GestaoConsorcio.Models.View.SimulacaoConsorcio>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <a href="@Url.Action("NovaSimulacao", "SimulacaoConsorcio")" style=" float: right;
                                                                                    color: white;
                                                                                    font-size: 13px;
                                                                                    background: #0aa70a;
                                                                                    border: none;
                                                                                    border-radius: 5px;"
                   class="btn btn-sm">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true">Novo</span>
                </a>
                <div class="col-md-12">
                    <h3 class="page-header">
                        Lista de Simulações
                    </h3>
                    <div class="col-md-2">
                        <label>Nome do Cliente: </label>
                        <input type="text" class="form-control nomeCliente">
                    </div>
                    <div class="col-md-2">
                        <label>Valor da Carta: </label>
                        <input type="text" class="form-control valorCarta money">
                    </div>
                    <div class="col-md-2 ">
                        <div style="margin-top:29px;">
                            <button type="button" class="btn btn-sm btn-success btnbuscarAgendamentoHistorico" id="btnbuscarSimulacao">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span><strong> Buscar</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="formdetalhe">
                    <div class="table-responsive tablegeral">
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Valor da Carta</th>
                                        <th>Parcela</th>
                                        @*<th>Contemplação</th>*@
                                        <th>Lance Próprio</th>
                                        <th>Info.</th>
                                    </tr>
                                </thead>
                                <tbody class="tbodygeral"></tbody>
                            </table>
                            <div id="pagethoje" align="center"></div>
                        </div>
                    </div>
                    <div id="pagetgeral" align="center" data-quantidade="">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>

}

@section Js
{
    <script>
        $(document).ready(function () {
            Mascarar()
        });

        function Mascarar() {
            $('.money').mask('000.000.000.000.000,00', { reverse: true });
        }

        $('#btnbuscarSimulacao').click(function () {
            if (($('.nomeCliente').val() === undefined || $('.nomeCliente').val() === '')
                && ($('.valorCarta').val() === undefined || $('.valorCarta').val() === ''))
            {
                return alert('Favor preencher algum campo.');
            }
            var data = {
                nome: $('.nomeCliente').val(),
                valor: $('.valorCarta').val().split('.').join('').split(',').join('')
            }

            console.log(JSON.stringify(data));
            $.ajax({
                type: 'Post',
                contentType: 'application/json; charset=utf-8',
                url: '/SimulacaoConsorcio/BuscarSimulacao',
                data: JSON.stringify(data),
                success: function (json) {
                    $('.tbodygeral > tr').remove();
                    $(json).each(function () {
                        var info = $("<td><a href='SimulacaoConsorcio/Detalhe/" + this.IdSimulacao + "'><span class='glyphicon glyphicon-info-sign'></span></a></td>")
                        $('.tbodygeral')
                            .append('<tr> </tr>');
                        $('.tbodygeral tr:last ')
                            .append('<td>' + this.Nome + '</td>')
                            .append($("<td class='money'>" + this.ValorCarta + "</td>"))
                            .append('<td>' + this.Parcela + '</td>')
                            //.append('<td>' + this.Contemplacao + '</td>')
                            .append($("<td class='money'>" + this.LanceProprio + "</td>"))
                            .append(info);
                    });
                    //$("#divLoader").hide();
                    $("#btnbuscarAgendamentoHistorico").prop("disabled", false);
                    Mascarar();
                    if ($(json).length <= 0)
                        alert('Nenhum resultado encontrado.')
                },
                error: function () {
                    alert('error');
                    $("#divLoader").hide();
                    $("#btnbuscarAgendamentoHistorico").prop("disabled", false);
                }
            });
        });
    </script>
}