﻿@model List<AnalisadorPerfilConsorcio.BuscarMelhoresPropostasResult>

@section Css{
    <link href="~/Scripts/plugins/LightweightFoldingMenu/jquery.treemenu.min.css" rel="stylesheet" />
}

@Html.AntiForgeryToken()
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                @{ int i = 1; }

                <div class="col-md-3">
                    <ul class="tree">
                        <li>
                            <a href="#" class="lista">Lista</a>
                            <ul>
                                @foreach (var proposta in Model)
                                {
                                    <li>
                                        <a href="#" class="grupo @i">Grupo @i</a>
                                        <ul>
                                            @foreach (var cartas in proposta.ListaCartas)
                                            {
                                                <li><a href="#" class="carta @cartas.Carta.Id @i">Carta: @cartas.Carta.Id</a></li>
                                            }
                                        </ul>
                                    </li>
                                    i++;
                                }
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="lista col-sm-9" hidden>
                    <div>
                        <h3>Valores Informados</h3>
                        <div class="col-md-2">
                            <label>Vr do Bem: </label>
                            <input value="R$ @ViewBag.ParametrosValorCarta" name="Nome" type="text" class="form-control money" readonly>
                        </div>
                        <div class="col-md-2">
                            <label>Vr Parcela: </label>
                            <input value="R$ @ViewBag.ParametrosParcela" name="Nome" type="text" class="form-control money" readonly>
                        </div>
                        <div class="col-md-2">
                            <label>Recurso Próprio: </label>
                            <input value="R$ @ViewBag.ParametrosLance" name="Nome" type="text" class="form-control money" readonly>
                        </div>
                    </div>
                </div>

                @{ int aux = 1; }

                @foreach (var proposta in Model)
                {
                    <div class="col-sm-9 col-grupo pull-right grupo @aux" hidden>
                        @{
                            var valorProposta = Convert.ToInt64(proposta.Valor).ToString() + "00";
                            var valorParcela = Convert.ToInt64(proposta.Parcela).ToString() + "00";
                            var valorLance = Convert.ToInt64(proposta.Lance).ToString() + "00";
                        }
                        <h3>Grupo @aux</h3>
                        <div class="col-md-2">
                            <label>Total Bem: </label>
                            <input value="@int.Parse(valorProposta)" name="Nome" type="text" class="form-control money" readonly>
                        </div>

                        <div class="col-md-2">
                            <label>Total Parcela: </label>
                            <input value="@int.Parse(valorParcela)" name="Nome" type="text" class="form-control money" readonly>
                        </div>

                        <div class="col-md-3">
                            <label>Recurso Próprio: </label>
                            <input value="@valorLance" name="Nome" type="text" class="form-control money" readonly>
                        </div>

                    </div>

                            foreach (var carta in proposta.ListaCartas)
                            {
                                var lanceMedio = Convert.ToInt64(carta.Carta.LanceMedio).ToString() + "0000";
                                var valorparcela = Convert.ToInt64(carta.Carta.VrParcela).ToString() + "00";

                        <div class="carta col-sm-9 col-carta @carta.Carta.Id @aux pull-right" hidden>
                            <h3>Carta @carta.Carta.Id</h3>
                            <div class="col-md-2">
                                <label>Vr Bem: </label>
                                <input value="@carta.Carta.Valor" name="Nome" type="text" class="form-control money" readonly>
                            </div>
                            <div class="col-md-2">
                                <label>Vr Parcela: </label>
                                <input value="@valorparcela" name="Nome" type="text" class="form-control money" readonly>
                            </div>
                            <div class="col-md-3">
                                <label>Recurso Próprio: </label>
                                <input value="@carta.Carta.LanceProprioValor.ToString().Substring(0, carta.Carta.LanceProprioValor.ToString().Length - 6)" name="Nome" type="text" class="form-control money" readonly>
                            </div>
                            <div class="col-md-2">
                                <label>Qtde: </label>
                                <input value="@carta.Qtde" name="Nome" type="text" class="form-control money" readonly>
                            </div>
                        </div>
                    }
                    aux++;
                }
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>


@section Js
{
    <script src="~/Scripts/plugins/LightweightFoldingMenu/jquery.treemenu.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.money').mask('000.000.000.000.000,00', { reverse: true });
        });

        $('a.lista').click(function () {
            $('.lista.col-sm-9').toggle();
        });

        $('a.carta').click(function () {
            var classe = $(this).removeClass('carta').attr('class').replace(' ', '.');
            console.log(classe);
            $('.col-sm-9.col-carta.' + classe).toggle();
        });

        $('a.grupo').click(function () {
            var classe = $(this).removeClass('grupo').attr('class').replace(' ', '.');
            console.log(classe);
            $('.col-sm-9.col-grupo.' + classe).toggle();
        });

        $(".tree").treemenu({ delay: 500 }).openActive();

    </script>
}