﻿@section Css{
    <link href="~/Scripts/plugins/Loaderjmspinner/jm.spinner.css" rel="stylesheet" />
}


@Html.AntiForgeryToken()
<div id="page-wrapper">
    <div class="container-fluid">
        <form action="@Url.Action("SimularConsorcio","SimulacaoConsorcio")" method="post">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">
                        Simulação (Lance Embutido)
                    </h3>
                    @*<div class="col-md-3">
                            <label>Nome do Cliente: </label>
                            <input name="Nome" type="text" class="form-control nomeCliente">
                        </div>*@
                    <div class="col-md-2">
                        <label>Valor da Carta: </label>
                        <input name="ValorCarta" type="text" class="form-control valorCarta money">
                    </div>
                    @*<div class="col-md-2">
                            <label>Renda: </label>
                            <input name="Renda" type="text" class="form-control renda money">
                        </div>*@
                    <div class="col-md-2">
                        <label>Parcelas: </label>
                        <input name="Parcela" type="text" class="form-control parcela money">
                    </div>
                    <div class="col-md-2">
                        <label>Recurso Próprio: </label>
                        <input name="Lance" type="text" class="form-control lance money">
                    </div>
                    <div class="col-md-3">
                        <input name="IncluirGrupoFormacao" type="checkbox" value="false">
                        <label>Incluir Grupo Formacao? </label>
                    </div>
                    @*<div class="col-md-2">
                            <label>Número Máx. Cartas: </label>
                            <input name="NumeroMaxCartas" type="text" class="form-control maxCartas">
                        </div>*@
                    @*<div class="col-md-2">
                            <label>Expec. Contemplação: </label>
                            <input type="text" class="form-control contemplacao">
                        </div>*@
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                </div>
            </div>

            <div class="row">
                @*<div class="col-md-12">
                        <h3>O que deseja?</h3>
                    </div>
                    <div class="col-md-2">
                        <input name="MenorParcela" type="checkbox" id="menorParcela" />
                        <label for="menorParcela">Menor Parcela</label>
                    </div>
                    <div class="col-md-2">
                        <input name="MenorLance" type="checkbox" id="menorParcela" />
                        <label for="menorLance">Menor Lance</label>
                    </div>*@
                @*<div class="col-md-3">
                        <input type="checkbox" id="menorParcela" />
                        <label for="menorTempo">Menor Tempo para Contemplação</label>
                    </div>*@
                <div class="col-md-2">
                    <input type="submit"
                           class="btn btn-sm btnSimular"
                           style="text-decoration: none !important;
                            margin-left: 15px;
                            color: white;
                            background: #0aa70a;
                            border: none;
                            border-radius: 5px;"
                           value="Simular">
                </div>
            </div>
        </form>

    </div>
    <!-- /.container-fluid -->
</div>


@section Js
{
    <script src="~/Scripts/plugins/Loaderjmspinner/jm.spinner.js"></script>

    <script>
        $(document).ready(function () {
            $('.money').mask('000.000.000.000.000,00', { reverse: true });
        });

        $("input[type=checkbox]").change(function () {
            if ($(this).prop("checked")) {
                $(this).val(true);
            } else {
                $(this).val(false);
            }
        });

        $('.btnSimular').click(function () {
            $('form').submit();
            $('#page-wrapper').jmspinner();
        });
    </script>
}