﻿@model GestaoConsorcio.Models.View.ContratoVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
   
    var lista = ViewBag.Retorno;
    var quantidade = ViewBag.Quantidade;
    var checks = ViewBag.CheckBoxAlocado;
    var sim = "";
    var nao = "";
    
    if(checks == null)
    {
        sim = "";
        nao = "";
    }else if(checks == "Sim")
    {
        sim = "checked";
        nao = "";
    }else if (checks == "Nao")
    {
        sim = "";
        nao = "checked";
    }
    else
    {
        sim = "checked";
        nao = "checked";
    }
    

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        @if (User.IsInRole("Atendente") || User.IsInRole("Administrador"))
                        {
                            <button type="button" style="float:right" class=" btn btn-danger" onclick="window.location.href='../Home/Index'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        }
                        else
                        {

                            <button type="button" style="float:right" class=" btn btn-danger" onclick="window.location.href='../Agendamento/Agendamento'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>

                        }
                        Contrato
                    </h3>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <br />
                <br />
                <div class="col-lg-12">
                    @Html.ValidationSummary(true, "", new { @class = "alert-box" })
                    <div class="col-md-2">
                        <label>Contrato</label>
                        <input type="text" class="form-control" name="NumeroContrato" maxlength="10" id="NumeroContrato" value="@ViewBag.Contrato">
                    </div>
                    <div class="col-md-4">
                        <label>Nome</label>
                        <input type="text" class="form-control" name="nome" id="nome" value="@ViewBag.nome">
                    </div>
                    <div class="ls-label col-md-2">
                        <p><strong>Alocado</strong></p>
                        <input type="checkbox" class="ls-field-checkbox" name="CheckBoxAlocado" id="CheckBoxAlocado" value="Nao" @nao> Não

                        <input type="checkbox" class="ls-field-checkbox" name="CheckBoxAlocado" id="CheckBoxAlocado" value="Sim" @sim> Sim
                    </div>
                </div>
                <div class="col-lg-12">
                    <br />
                    <br />
                </div>
                <div class="col-lg-12">
                    <div class="col-md-2">
                        <label>Início</label>
                        <input type="date" class="form-control buscardata" name="InicioFiltro" id="InicioFiltro" value="@(Model.InicioFiltro.HasValue?Model.InicioFiltro.Value.ToString("dd/MM/yyyy"):"")"> 
                    </div>
                    <div class="col-md-4">
                        <label>Fim</label>
                        <input type="date" class="form-control buscardata" name="FimFiltro" maxlength="10" id="FimFiltro" value="@(Model.FimFiltro.HasValue?Model.FimFiltro.Value.ToString("dd/MM/yyyy"):"")">
                    </div>
                    <div class="col-md-1">
                        <input type="submit" class="btn btn-success" value="Buscar" />
                    </div>
                </div>

            </div>
            <br />
            <br />
            <div class="row" @ViewBag.Table>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>Contrato</th>
                                    <th>Nome</th>
                                    <th>Adesão</th>
                                    <th>Alocação</th>
                                    <th>Detalhe</th>
                                </tr>
                            </thead>
                            <tbody class="tbodycontrato">
                                 @if (lista != null)
                                 {
                                     var aux = 0;

                                     if (lista.Count <= 5)
                                     {
                                         aux = lista.Count - 1;
                                     }
                                     
                                    for(int i = 0; i <= aux; i++)
                                    {
                                         <tr>
                                            
                                             <td>@lista[i].NumeroContrato </td>
                                             <td>@lista[i].nome </td>
                                             <td>@lista[i].DtAdesao </td>
                                             <td>@lista[i].DtAlocacao </td>
                                             <td>
                                                 <button type="button" class="btn btn-circle btn-info btndetalhecontrato" id="@lista[i].id" data-toggle="modal" data-target="#myModal">
                                                     <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                                                 </button>
                                             </td>
                                         </tr>
                                      
                                 }
                                 }
                            </tbody>

                        </table>
                    </div>
                </div>
                
                <div id="page" align="center"></div>

            </div>
            
            
            
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>

    <div id="myModal" class="modal fade" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row fg_erro" hidden>
                        <div class="col-lg-12 fg_erro_msg">
                           
                        </div>
                    </div>
                    <div class="row fg_hidden" hidden>
                        <div class="col-lg-12">
                            <h2 class="page-header">Dados do Consorciado</h2>
                            <div class="col-lg-6">
                                <div class="form-group has-feedback">
                                    <label class="form-inline tipocota">
                                        Tipo de Cota:

                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline nome">
                                        Nome:
                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline grupo">
                                        Grupo:

                                    </label>

                                </div>
                                
                                <div class="form-group has-feedback">
                                    <label class="form-inline endereco">
                                        Endereço:

                                    </label>

                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group has-feedback">
                                    <label class="form-inline contrato">
                                        Contrato:

                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline cpf">
                                        Cpf/Cnpj:

                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline cota">
                                        Cota:

                                    </label>
                                </div>
                                
                                <div class="form-group has-feedback">
                                    <label class="form-inline dtnascimento">
                                        Dt. Nascimento:

                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row fg_hidden" hidden>
                        <div class="col-lg-12">
                            <h2 class="page-header">Plano de Venda</h2>
                            <div class="col-lg-6">
                                <div class="form-group has-feedback">
                                    <label class="form-inline DtAdesao">
                                        Dt. Adesão:
                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline DtAlocacao">
                                        Dt.Alocação:
                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline sitcobranca">
                                        Sit. Cobrança:
                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline TipoVenda">
                                        Tipo de Venda:
                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline BemObjeto">
                                        Bem Objeto:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline FilialAdm">
                                        Filial Adm:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline PtoEntrega">
                                        Pto. Entrega:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline TaxaAdesao">
                                        Taxa Adesão:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline Cont">
                                        Cont:
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group has-feedback">
                                    <label class="form-inline DtCadastro">
                                        Dt. Cadastro:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline DtAssembleia">
                                        1ª Assembleia:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline PlanoBasico">
                                        Plano Básico:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline PlanoVenda">
                                        Plano Venda:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline FilialVenda">
                                        Filial Venda:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline PtoVenda">
                                        Pto. Venda:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline TaxaAdm">
                                        Taxa Adm:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline FndReserva">
                                        Fnd. Reserva:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline Seguros">
                                        Seguros:
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row fg_hidden" hidden>
                        <div class="col-lg-12">
                            <h2 class="page-header">Saldo Acumulado</h2>
                            <div class="col-lg-6">
                                <div class="form-group has-feedback">
                                    <label class="form-inline AssembleiaAtual">
                                        Parcela Atual:
                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline Vencto">
                                        Vencimento:
                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline SaldoDevedor">
                                        Saldo Devedor:
                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline Atraso">
                                        Atraso:
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group has-feedback">
                                    <label class="form-inline ValorParcela">
                                        Valor da Parcela:
                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline DtAssembleiaAtual">
                                        Dt. Assembleia Atual:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline ValoresPgos">
                                        Valores Pagos:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline QtdPclsPagas">
                                        Qtd.Parcelas Pagas:
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row fg_cancel" hidden>
                        <div class="col-md-12">
                            <h2 class="page-header">Dados do Consorciado</h2>
                            <div class="col-lg-6">
                                <div class="form-group has-feedback">
                                    <label class="form-inline tipocota">
                                        Tipo de Cota:

                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline nome">
                                        Nome:
                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline endereco">
                                        Endereço:

                                    </label>

                                </div>
                                
                                <div class="form-group has-feedback">
                                    <label class="form-inline ValorParcela">
                                        Valor da Parcela:
                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline TaxaAdesao">
                                        Taxa Adesão:
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group has-feedback">
                                    <label class="form-inline contrato">
                                        Contrato:

                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline cpf">
                                        Cpf/Cnpj:

                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline TipoVenda">
                                        Tipo de Venda:
                                    </label>

                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline BemObjeto">
                                        Bem Objeto:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline FndReserva">
                                        Fnd. Reserva:
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="form-inline TaxaAdm">
                                        Taxa Adm:
                                    </label>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btnfecharmodal" data-dismiss="modal">Fechar</button>
                </div>
            </div>

        </div>
    </div>
}
<script>

    var val = '@quantidade';
    var pag = Math.ceil(val / 5);

    $('#page').bootpag({
        total: pag,
        page: 1,
        maxVisible: 3,
        leaps: true,
        firstLastUse: true,
        first: '←',
        last: '→',
        wrapClass: 'pagination',
        activeClass: 'active',
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first'
    }).on("page", function (event, num) {

        var contra = '@ViewBag.Contrato';
        var nm = '@ViewBag.nome';
        var checkaloc = '@ViewBag.CheckBoxAlocado';

        $.ajax({

            type: 'post',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            url: '/Contrato/PaginaContrato',
            data: "{ 'contra': '" + contra + "','nm' :'" + nm + "','checkaloc' : '" + checkaloc + "','pag' : '"+num+"'}",
            success: function (json) {
                var linhas = "";
               
                $(json).each(function () {

                    linhas += "<tr>" +
                                   "<td>" + this.NumeroContrato + "</td>" +
                                   "<td>" + this.nome + "</td>" +
                                   "<td><input type='checkbox' class='ls-field-checkbox Alocado' data-id='" + this.id + "' name='TableAlocado' id='TableAlocado' " + this.CheckBoxAlocado + "></td>" +
                                   "<td><button type='button' class='btn btn-circle btn-info btndetalhecontrato' id='" + this.id + "' data-toggle='modal' data-target='#myModal'>" +
                                           "<span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>" +
                                   "</button></td>"+
                              "</tr>";
                });

                $(".tbodycontrato").html(linhas);

                $(".btndetalhecontrato").click(function () {
                    
                    var id = $(this).attr('id');

                    $.ajax({

                        type: 'post',
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        url: '/Contrato/DetalheContrato',
                        data: "{ 'id': '" + id + "'}",
                        success: function (json) {

                            $(json).each(function () {

                                if (this.fg_Hidden == "hidden") {
                                    $('.fg_erro').hide();
                                    $('.fg_cancel').hide();
                                    $('.fg_hidden').show();
                                } else {
                                    $('.fg_erro').hide();
                                    $('.fg_hidden').hide();
                                    $('.fg_cancel').show();
                                }

                                if (this.fg_Erro == "erro") {
                                    $('.fg_erro').show();
                                    $('.fg_erro_msg').html("<h2>Contrato não processado!</h2>");
                                    $('.fg_cancel').hide();
                                    $('.fg_hidden').hide();
                                }
                                var DtNascimento = this.DtNascimento == null ? "" : this.DtNascimento;
                                var DtAdesao = this.DtAdesao == null ? "" : this.DtAdesao;
                                var DtAlocacao = this.DtAlocacao == null ? "" : this.DtAlocacao;
                                var DtCadastro = this.DtCadastro == null ? "" : this.DtCadastro;
                                var DtAssembleia = this.DtAssembleia == null ? "" : this.DtAssembleia;
                                var DtAssembleiaAtual = this.DtAssembleiaAtual == null ? "" : this.DtAssembleiaAtual;

                                $('.nome').html("Nome: " + this.nome);
                                $('.cota').html("Cota: " + this.cota);
                                $('.grupo').html("Grupo: " + this.grupo);
                                $('.contrato').html("Contrato: " + this.NumeroContrato);
                                $('.tipocota').html("Tipo Cota: " + this.tipocota);
                                $('.dtnascimento').html("Dt. Nascimento: " + DtNascimento);
                                $('.cpf').html("Cpf/Cnpj:" + this.cpf);
                                $('.endereco').html("Endereço:" + this.Endereco);
                                $('.DtAdesao').html("Dt. Adesão: " + DtAdesao);
                                $('.DtAlocacao').html("Dt.Alocação: " + DtAlocacao);
                                $('.sitcobranca').html("Sit. Cobrança: " + this.sitcobranca);
                                $('.TipoVenda').html("Tipo de Venda: " + this.TipoVenda);
                                $('.BemObjeto').html("Bem Objeto: " + this.BemObjeto);
                                $('.FilialAdm').html("Filial Adm: " + this.FilialAdm);
                                $('.PtoEntrega').html("Pto. Entrega: " + this.PtoEntrega);
                                $('.TaxaAdesao').html("Taxa Adesão: " + this.TaxaAdesao);
                                $('.Cont').html("Cont: " + this.Cont);
                                $('.DtCadastro').html("Dt. Cadastro: " + DtCadastro);
                                $('.DtAssembleia').html("1ª Assembleia: " + DtAssembleia);
                                $('.PlanoBasico').html("Plano Básico: " + this.PlanoBasico);
                                $('.PlanoVenda').html("Plano Venda: " + this.PlanoVenda);
                                $('.FilialVenda').html("Filial Venda: " + this.FilialVenda);
                                $('.PtoVenda').html("Pto. Venda: " + this.PtoVenda);
                                $('.TaxaAdm').html("Taxa Adm: " + this.TaxaAdm);
                                $('.FndReserva').html("Fnd. Reserva: " + this.FndReserva);
                                $('.Seguros').html("Seguros: " + this.Seguros);
                                $('.AssembleiaAtual').html("Parcela Atual: " + this.AssembleiaAtual);
                                $('.Vencto').html("Vencimento: " + this.Vencto);
                                $('.SaldoDevedor').html("Saldo Devedor: " + this.SaldoDevedor);
                                $('.Atraso').html("Atraso: " + this.Atraso);
                                $('.ValorParcela').html("Valor da Parcela: " + this.ValorParcela);
                                $('.DtAssembleiaAtual').html("Dt. Assembleia Atual: " + DtAssembleiaAtual);
                                $('.ValoresPgos').html("Valores Pagos: " + this.ValoresPgos);
                                $('.QtdPclsPagas').html("Qtd.Parcelas Pagas: " + this.QtdPclsPagas);



                            });
                        }


                    });

                });

                $(".Alocado").click(function () {

                    var alocado = $(this).is(':checked');
                    var id = $(this).attr('data-id');

                    $.ajax({

                        type: 'post',
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        url: '/Contrato/AlocadoContrato',
                        data: "{ 'id': '" + id + "','alocado' :'" + alocado + "'}",
                        success: function (json) {

                            if (json == "0") {
                                alert("Não foi possível alterar a opção Alocado");
                            }


                        }
                    });
                });

            }
        });

        
    });

</script>



   