﻿@model GestaoConsorcio.Models.View.RelatorioVM

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var lista = Model.Itens;
    var quantidade = Model.Qtde;
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">
                        Geral
                    </h3>
                    <div class="col-md-2">
                        <label>Contrato: </label>
                        <input class="form-control" id="vContrato">
                    </div>
                    <div class="col-md-2">
                        <label>Situação: </label>
                        <select id="Situacao" class="form-control">
                            <option value="">Nenhum</option>
                            <option value="Alocado">Alocado</option>
                            <option value="Pendente">Pendente</option>
                            <option value="Cancelado">Cancelado</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>De: </label>
                            <input type="date" class="form-control buscardata" id="vDe">
                        </div>

                    </div>
                    <div class="col-md-2">
                        <label>Até: </label>
                        <input type="date" class="form-control buscardataate" id="vAte">
                    </div>
                    @*<div class="col-md-offset-2">
                        <p><strong>Novo</strong></p>
                        <input type="checkbox" class="ls-field-checkbox checkBoxFin" name="Novo">
                    </div>*@
                    <div class="col-md-2 ">
                        <div style="margin-top:-29px; margin-left:86px">
                            <button type="button" class="btn btn-sm btn-success btnbuscargeralcontrato">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span><strong> Buscar</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" id="formdetalhe">
                    <div class="table-responsive tablegeral">
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <thead>
                                    <tr>
                                        <th>Data e Hora</th>
                                        <th>Contrato</th>
                                        <th>Situação</th>
                                        <th>Tipo Venda</th>
                                        <th>Parcela1</th>
                                        <th>Parcela2</th>
                                        <th>Parcela3</th>
                                        <th>Parcela4</th>
                                        
                                    </tr>
                                </thead>
                                <tbody class="tbodygeral">
                                    @if (lista != null)
                                    {
                                        var aux = 15;

                                        if (lista.Count <= 15)
                                        {
                                            aux = lista.Count - 1;
                                        }
                                        

                                        for (int i = 0; i <= aux; i++)
                                        {

                                            <tr>
                                                <td>@lista[i].DataVenda.ToString("dd/MM/yyyy")</td>
                                                <td>@lista[i].NumContrato</td>
                                                <td>@lista[i].Situacao</td>
                                                <td>@lista[i].TipoVenda</td>
                                                <td>@(lista[i].Parcela1.HasValue ? lista[i].Parcela1.Value.Date.ToString("dd/MM/yyyy") : "")</td>
                                                <td>@(lista[i].Parcela2.HasValue ? lista[i].Parcela2.Value.Date.ToString("dd/MM/yyyy") : "")</td>
                                                <td>@(lista[i].Parcela3.HasValue ? lista[i].Parcela3.Value.Date.ToString("dd/MM/yyyy") : "")</td>
                                                <td>@(lista[i].Parcela4.HasValue ? lista[i].Parcela4.Value.Date.ToString("dd/MM/yyyy") : "")</td>
                                            </tr>

                                        }
                                    }

                                </tbody>

                            </table>
                            <div id="pagethoje" align="center"></div>
                        </div>

                    </div>
                    <div id="pagetgeral" align="center" data-quantidade="">



                    </div>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>


}


<script>
    var consultorex = "";
    var tipoex = "";
    var clienteex = "";
    var aex = "";
    var dataex = "";
    var datate = "";
    var valhoje = '@quantidade';
    var paghoje = Math.ceil(valhoje / 15) == 1 ? 0 : Math.ceil(valhoje / 15);

    $('#pagetgeral').bootpag({
        total: paghoje,
        page: 1,
        maxVisible: 3,
        leaps: true,
        firstLastUse: true,
        first: '←',
        last: '→',
        wrapClass: 'pagination',
        activeClass: 'active',
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first'
    }).on('page', function (event, num) {
        filtro.nrocontr = $("#vContrato").val();
        filtro.situacao = $("#Situacao").val();
        filtro.datainicial = $("#vDe").val();
        filtro.datafinal = $("#vAte").val();
        filtro.pag = num;
        console.log("-----------------------> Paginação :> " + num);
        BuscaGeralContrato(filtro);

    });

    $.ajax({
        type: 'post',
        contentType: 'application/json; charset=utf-8',
        url: '/Combo/ComboConsultor',
        success: function (json) {
            var a = "";

            $(json).each(function () {

                a += "<option value=" + this.consultorid + ">" + this.nome + " " + this.sobrenome + "</option>";

            });

            $("#ComboConsultor").append(a);
        }

    });

</script>
