﻿@model GestaoConsorcio.Models.View.SalvarContratoVM

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var userole = User.IsInRole("Administrador");
    var userlogin = User.Identity.Name;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        @if (User.IsInRole("Atendente") || User.IsInRole("Administrador"))
                        {
                            <button type="button" style="float:right" class=" btn btn-danger" onclick="window.location.href='../Home/Index'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        }
                        else
                        {

                            <button type="button" style="float:right" class=" btn btn-danger" onclick="window.location.href='../Agendamento/Agendamento'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>

                        }
                        Salvar Contrato
                    </h3>
                </div>
            </div>
            
            <div class="row">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="col-lg-12">
                    @if (ViewBag.Visivel == "")
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="alert @ViewBag.TipoAlert">
                                        <strong>@ViewBag.Mensagem</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                    <div class="col-lg-6">
                        
                        <div class="form-group">
                            <div class="form-group has-feedback">
                               @if (User.IsInRole("Administrador"))
                               { 
                                 <label class="form-inline">
                                    Consultor:
                                     <select id="ComboConsultor" name="ComboConsultor" class="form-control ">
                                         @foreach (var consul in Model.consultores)
                                         {
                                             <option value="@consul.consultorid">@consul.nome @consul.sobrenome</option>
                                         }

                                     </select>
                                </label>                                
                                <br />
    <br />
                               }
                              
                                <div class="form-group has-feedback contratos">
                                    <label>
                                        Protocolo de Atendimento:
                                    </label>
                                    <input type="text" class="form-control" name="ProtocoloAtends" >
                                    <br />
                                    <label>
                                        Número do Contrato:
                                    </label>
                                    <input type="text" class="form-control" name="NumeroContrato" maxlength="6">
                                </div>
                                </div>
                            <div>
                                <button type="submit" class="btn btn-info">Salvar</button>
                            </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>

            <div class="modal fade modalmsg " data-backdrop="static" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        
                        <div class="modal-body modalbodymsg" role="alert" align="center">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btnokmodal" onclick="" data-dismiss="modal">OK</button>
                        </div>

                    </div>

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
}

