﻿@model GestaoConsorcio.Models.View.DadosAgen

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var text = "";
    var tipopessoa = "Fisica";
    var divdados = "hidden";
    var estadocivil = "";




}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="divconteudocontados" id="@text" hidden></div>
    <div class="divtipopessoa" id="@tipopessoa" hidden></div>
    <div class="divcontador" id="1" hidden></div>

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        @if (User.IsInRole("Atendente") || User.IsInRole("Administrador"))
                        {
                            <button type="button" style="float:right" class=" btn btn-danger" onclick="window.location.href='../Home/Index'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        }
                        else
                        {

                            <button type="button" style="float:right" class=" btn btn-danger" onclick="window.location.href='../Agendamento/Agendamento'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>

                        }
                        Solicitar Proposta
                    </h3>

                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tipo </label>
                                <select id="ComboTipoCliente" class="form-control" name="ComboTipoCliente">
                                    <option value="0">Selecione</option>
                                </select>
                                <span class="glyphicon form-control-feedback" id="ComboEstadoCivilNovo1"></span>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Protocolo</label>
                                <input type="text" class="form-control protocolo" name="protocolo" id="protocolo" value="@Html.DisplayFor(x=> x.protocolo)">
                                <span class="glyphicon form-control-feedback" id="protocolo1"></span>
                            </div>


                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Classificação</label>
                                <select class="form-control" name="ClassificacaoV" id="ClassificacaoV">
                                    <option value="0">Selecione</option>
                                    <option value="1" style="color:green">Verde</option>
                                    <option value="2" style="color:goldenrod">Amarela</option>
                                    <option value="3" style="color:red">Vermelha</option>
                                    <option value="4" style="color:blue">Azul</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control novonome" name="nomecliente" id="nomecliente" value="@Html.DisplayFor(x=> x.nome)">
                                <span class="glyphicon form-control-feedback" id="nomecliente1"></span>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Data de Nascimento</label>
                                <input type="date" class="form-control novodtnascimentof" value="@Html.DisplayFor(x => x.dtnascimento)">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Fone Fixo</label>
                                <input type="tel" class="form-control novofone1 " data-mask="(00) 0000-0000" name="novofone1" id="novofone1" value="@Html.DisplayFor(x=> x.fone1)">
                                <span class="glyphicon form-control-feedback" id="novofone11"></span>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Fone Celular</label>
                                <input type="tel" class="form-control novofone2" data-mask="(00) 00000-0000" value="@Html.DisplayFor(x=> x.fone2)">
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>E-mail</label>
                                <input type="email" class="form-control novoemail" name="novoemail" id="novoemail" value="@Html.DisplayFor(x=> x.email)">
                                <span class="glyphicon form-control-feedback" id="novoemail1"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><input class="checkautonovo" type="checkbox" @Html.DisplayFor(x => x.autocheck)> Auto</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        R$
                                    </span>
                                    <input class="form-control novovalauto" data-mask="#.##0,00" data-mask-reverse="true" data-mask-maxlength="false" placeholder="Digite o valor" disabled value="@Html.DisplayFor(x=> x.valorauto)">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><input class="checkimonovo" type="checkbox" @Html.DisplayFor(x => x.imocheck)> Imobiliário</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        R$
                                    </span>
                                    <input class="form-control novovalimoo" data-mask="#.##0,00" data-mask-reverse="true" data-mask-maxlength="false" placeholder="Digite o valor" disabled value="@Html.DisplayFor(x=> x.valorimo)">

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox" name="CheckUrgente" id="CheckUrgente" /> <strong>URGENTE</strong>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Dados Complementares </label>

                                <button type="button" class="btn btn-info btn-sm btndadoscomplementares btnmais" onclick="Mais()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>

                                <button type="button" class="btn btn-info btn-sm btndadoscomplementaresminus " id="btnmenos" onclick="Menos()" style="visibility:@divdados">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 dadoscomplementares" @divdados>
                    <h3 class="page-header">Dados Complementares para o Contrato</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input class="radiopessoa" name="optionsRadiosPessoa" type="radio" value="pfisica" checked>Pessoa Física
                                </label>
                                <label class="radio-inline">
                                    <input class="radiopessoa" name="optionsRadiosPessoa" type="radio" value="pjuridica">Pessoa Jurídica
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="formfisica">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CPF</label>
                                    <input type="text" class="form-control novocpff" value="@Html.DisplayFor(x=> x.cpff)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>RG</label>
                                    <input class="form-control novorgf" value="@Html.DisplayFor(x=> x.rgf)">
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Orgão Emissor</label>
                                    <input type="text" class="form-control novoemissorf" value="@Html.DisplayFor(x=> x.orgaoemissorf)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Data de Expedição</label>
                                    <input type="date" class="form-control novodtexpedicaof" value="@Html.DisplayFor(x=> x.dtexpedicaostring)">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Rua</label>
                                    <input type="text" class="form-control novoenderecof" value="@Html.DisplayFor(x=> x.enderecof)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input type="text" class="form-control novonumerof" value="@Html.DisplayFor(x=> x.numerof)">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Complemento</label>
                                    <input type="text" class="form-control novocomplementof" value="@Html.DisplayFor(x=> x.complemento)">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>CEP</label>
                                    <input type="text" class="form-control novocepf" value="@Html.DisplayFor(x=> x.cepf)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Cidade</label>
                                    <input type="text" class="form-control novocidadef" value="@Html.DisplayFor(x=> x.cidadef)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>UF</label>
                                    <input type="text" class="form-control novouff" value="@Html.DisplayFor(x=> x.uff)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Bairro</label>
                                    <input type="text" class="form-control novobairrof" value="@Html.DisplayFor(x=> x.bairrof)">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Estado Civil </label>
                                    <select id="ComboEstadoCivilNovo" class="form-control ComboEstadoCivilNovo" name="ComboEstadoCivilNovo">
                                        <option value="0">Selecione</option>
                                    </select>
                                    <span class="glyphicon form-control-feedback" id="ComboEstadoCivilNovo1"></span>
                                </div>

                            </div>

                            <div class="col-md-4 divnomeconjugue" @estadocivil>
                                <div class="form-group">
                                    <label>Nome Conjugue</label>
                                    <input type="text" class="form-control novonomeconjuguef" value="@Html.DisplayFor(x=> x.nomeconjugue)">
                                </div>

                            </div>
                            <div class="col-md-3 divcpfconjugue" @estadocivil>
                                <div class="form-group">
                                    <label>CPF Conjugue</label>
                                    <input type="text" class="form-control novocpfconjuguef" value="@Html.DisplayFor(x=> x.cpfconjugue)">
                                </div>

                            </div>
                            <div class="col-md-3 divnasciconjugue" @estadocivil>
                                <div class="form-group">
                                    <label>Data de Nascimento Conjugue</label>
                                    <input type="date" class="form-control novodtnascimentoconjuguef" value="@Html.DisplayFor(x => x.dtnascimentoconjugue)">
                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Profissão</label>
                                    <input type="text" class="form-control novoprofissaof" value="@Html.DisplayFor(x=> x.profissaof)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Cidade Nascimento</label>
                                    <input type="text" class="form-control novocidadenascf" value="@Html.DisplayFor(x=> x.cnascimentof)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Nacionalidade</label>
                                    <input type="text" class="form-control novonaciof" value="@Html.DisplayFor(x=> x.nacionalidadef)">
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Banco</label>
                                    <input type="text" class="form-control novobancof" value="@Html.DisplayFor(x=> x.bancof)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Agência</label>
                                    <input type="text" class="form-control novoagenciaf" value="@Html.DisplayFor(x=> x.agenciaf)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Conta</label>
                                    <input type="text" class="form-control novocontaf" value="@Html.DisplayFor(x=> x.contaf)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Operação</label>
                                    <input type="text" class="form-control novoopef" value="@Html.DisplayFor(x=> x.Operacaof)">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input class="formpagamentof" name="optionsRadiosPagF" type="radio" value="1">Boleto
                                    </label>
                                    <label class="radio-inline">
                                        <input class="formpagamentof" name="optionsRadiosPagF" type="radio" value="2">Cartão de Crédito
                                    </label>
                                    <label class="radio-inline">
                                        <input class="formpagamentof" name="optionsRadiosPagF" type="radio" value="3">Débito em Conta
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="formjuridica" hidden>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CNPJ</label>
                                    <input type="text" class="form-control novocnpjj" value="@Html.DisplayFor(x=> x.cnpjj)">
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Razão Social</label>
                                    <input type="text" class="form-control novorazaosocialj" value="@Html.DisplayFor(x=> x.razaosocialj)">
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Nome Fantasia</label>
                                    <input type="text" class="form-control novonomefantasiaj" value="@Html.DisplayFor(x=> x.nomefantasiaj)">
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Fundação</label>
                                    <input type="text" class="form-control novofundacaoj" value="@Html.DisplayFor(x=> x.fundacaoj)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Capital Social</label>
                                    <input type="text" class="form-control novocapitalj" value="@Html.DisplayFor(x=> x.capitalsocialj)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tipo de Capital</label>
                                    <input type="text" class="form-control novotipocapitalj" value="@Html.DisplayFor(x=> x.tipocapitalj)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Atividade</label>
                                    <input type="text" class="form-control novoatividadej" value="@Html.DisplayFor(x=> x.atividadej)">
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Nome do Sócio</label>
                                    <input type="text" class="form-control novonomesocioj" value="@Html.DisplayFor(x=> x.nomesocioj)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Cargo do Sócio</label>
                                    <input type="text" class="form-control novocargosocioj" value="@Html.DisplayFor(x=> x.cargosocioj)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>CPF do Sócio</label>
                                    <input type="text" class="form-control novocpfsocioj" value="@Html.DisplayFor(x=> x.cpfsocioj)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Participação do Sócio</label>
                                    <input type="text" class="form-control novoparticipacaoj" value="@Html.DisplayFor(x=> x.particsocioj)">
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Rua</label>
                                    <input type="text" class="form-control novoruaj" value="@Html.DisplayFor(x=> x.ruaj)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input type="text" class="form-control novonumeroj" value="@Html.DisplayFor(x=> x.numeroj)">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Complemento</label>
                                    <input type="text" class="form-control novocomplementoj" value="@Html.DisplayFor(x=> x.complemento)">
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>CEP</label>
                                    <input type="text" class="form-control novocepj" value="@Html.DisplayFor(x=> x.cepj)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Cidade</label>
                                    <input type="text" class="form-control novocidadej" value="@Html.DisplayFor(x=> x.cidadej)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>UF</label>
                                    <input type="text" class="form-control novoufj" value="@Html.DisplayFor(x=> x.ufj)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Bairro</label>
                                    <input type="text" class="form-control novobairroj" value="@Html.DisplayFor(x=> x.bairroj)">
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Banco</label>
                                    <input type="text" class="form-control novobancoj" value="@Html.DisplayFor(x=> x.bancoj)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Agência</label>
                                    <input type="text" class="form-control novoagenciaj" value="@Html.DisplayFor(x=> x.agenciaj)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Conta</label>
                                    <input type="text" class="form-control novocontaj" value="@Html.DisplayFor(x=> x.contaj)">
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Operação</label>
                                    <input type="text" class="form-control novoopej" value="@Html.DisplayFor(x=> x.Operacaoj)">
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input class="formpagamentoj" name="optionsRadiosPag" type="radio" value="1">Boleto
                                    </label>
                                    <label class="radio-inline">
                                        <input class="formpagamentoj" name="optionsRadiosPag" type="radio" value="2">Cartão de Crédito
                                    </label>
                                    <label class="radio-inline">
                                        <input class="formpagamentoj" name="optionsRadiosPag" type="radio" value="3">Débito em Conta
                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class='row'>
                        <div class='col-md-10'>
                            <label>Observação</label>
                            <textarea class='form-control  novocontobs1' rows="15" maxlength="10000"></textarea>
                            <input type='hidden' class='novocontdata1' value="@ViewBag.DataAtual">
                            <input type='hidden' class='novohora1' value="@ViewBag.HoraAtual">
                        </div>
                    </div>
                    <br />

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-success btnsalvaralter">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong> Salvar</strong>
                    </button>
                </div>
            </div>

            <div id="modalFinalizar" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Porque está finalizando?</h3>
                        </div>
                        <div class="modal-body">
                            <p><h4><label><input class="radioFinaliza" name="radioFinaliza" type="radio" value="Desistiu"> Desistiu</label></h4></p>
                            <p><h4><label><input class="radioFinaliza" name="radioFinaliza" type="radio" value="Inexistente"> Inexistente</label></h4></p>
                            <p><h4><label><input class="radioFinaliza" name="radioFinaliza" type="radio" value="Não Atende"> Não Atende</label></h4></p>
                            <p><h4><label><input class="radioFinaliza" name="radioFinaliza" type="radio" value="Outros"> Outros</label></h4></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btncancelagendamento" data-dismiss="modal">Finalizar</button>

                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal fade modalmsg " data-backdrop="static" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">

                        </div>

                        <div class="modal-body modalbodymsg" role="alert" align="center">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btnokmodalsimcomp" onclick="window.location = '/Home/Index'" data-dismiss="modal">OK</button>
                        </div>

                    </div>

                </div>
            </div>
            <div class="combotipoclienteResult" id="@Html.DisplayFor(x=> x.tipocliente)" hidden></div>
            <div class="comboestadocivilResult" id="@Html.DisplayFor(x=> x.estadocivilf)" hidden></div>
            <div class="comboconsultorResult" id="@Html.DisplayFor(x=> x.consultor)" hidden></div>
            <div class="formpagamentofResult" id="@Html.DisplayFor(x=> x.formapagamentof)" hidden></div>
            <div class="formpagamentojResult" id="@Html.DisplayFor(x=> x.formapagamentoj)" hidden></div>
            <div class="tipopessoaResult" id="@Html.DisplayFor(x=> x.tiporadiopessoastring)" hidden></div>
        </div>
    </div>


}
@section Js
{

    <script src="~/Scripts/agendamento.js"></script>
    <script src="~/Scripts/agendamentodetalhe.js"></script>
    <script>

        $.ajax({
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            url: '/Agendamento/BuscaTipoAgendamento',
            success: function (json) {
                var a = "";

                $(json).each(function () {

                    a += "<option value=" + this.Id + ">" + this.Descricao + "</option>";
                });

                $("#ComboTipoCliente").append(a);
            }
        });

        function Menos() {

            $(".dadoscomplementares").hide();
            document.getElementById("btnmenos").style.visibility = "hidden";
        }

        function Mais() {
            document.getElementById("btnmenos").style.visibility = "visible";
            $(".dadoscomplementares").show();
        }

        function VerConversa() {

            var idagen = $(".btnverconversa").attr('data-agendamento');
            var href = "../Agendamento/Chat?agendamento=" + idagen + "";
            window.location.href = href;


        }

        var check = $(".checkautonovo").is(":checked");
        var check2 = $(".checkimonovo").is(":checked");

        if (check == true) {
            $(".novovalauto").removeAttr("disabled");
        }
        if (check == false) {
            $(".novovalauto").val("");
            $(".novovalauto").attr("disabled", true);

        }

        if (check2 == true) {
            $(".novovalimoo").removeAttr("disabled");
        }
        if (check2 == false) {
            $(".novovalimoo").val("");
            $(".novovalimoo").attr("disabled", true);

        }


        var pag2 = $(".formpagamentojResult").attr("id");

        if (pag2 == "0") {
            pag2 = "1";
            $('input:radio[name=optionsRadiosPag]:nth(' + pag2 + ')').attr('checked', 'checked');
        } else {
            pag2 = pag2 - 1;
            $('input:radio[name=optionsRadiosPag]:nth(' + pag2 + ')').attr('checked', 'checked');
        }

        $.ajax({
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            url: '/Combo/ComboConsultor',
            success: function (json) {
                var a = "";

                $(json).each(function () {

                    a += "<option value=" + this.consultorid + ">" + this.nome + " " + this.sobrenome + "</option>";

                });

                $("#ComboConsultorNovo").append(a);
                var cc = $(".comboconsultorResult").attr("id");
                $("#ComboConsultorNovo option[value='" + cc + "']").attr('selected', 'selected');
            }

        });

        $.ajax({
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            url: '/Combo/ComboEstadoCivil',
            success: function (json) {
                var a = "";

                $(json).each(function () {

                    a += "<option value=" + this.estadocivilid + ">" + this.descricao + "</option>";

                });

                $("#ComboEstadoCivilNovo").append(a);
                var bb = $(".comboestadocivilResult").attr("id");
                $(".ComboEstadoCivilNovo option[value='" + bb + "']").attr('selected', 'selected');
            }
        });



        var aa = $(".combotipoclienteResult").attr("id");


        $("#ComboTipoCliente option[value='" + aa + "']").attr('selected', 'selected');


    </script>
}