﻿@model GestaoConsorcio.Models.View.DadosAgen

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var userole = User.IsInRole("Administrador");
    var userlogin = User.Identity.Name;
    var status = ViewBag.Salvo;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        @if (User.IsInRole("Atendente") || User.IsInRole("Administrador"))
                        {
                            <button type="button" style="float:right" class=" btn btn-danger" onclick="window.location.href='../Home/Index'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        }
                        else
                        {

                            <button type="button" style="float:right" class=" btn btn-danger" onclick="window.location.href='../Agendamento/Agendamento'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>

                        }
                        Solicitar Contrato
                    </h3>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="col-lg-12">
                    
                    @if (ViewBag.Visivel == "")
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="alert @ViewBag.TipoAlert">
                                        <strong>@ViewBag.Mensagem</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Protocolo de Atendimento:
                                    </label>
                                    <input type="text" class="form-control" name="ProtocolocoAtendimento" id="ProtocolocoAtendimento" />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-info ">Solicitar</button>
                            </div>

                        </div>
                    </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
}


            <script>

                if ('@status' == "1") {
                    alert("Salvo");
                }
                if ('@status' == "0") {
                    alert("Protocolo já existe");
                }
                if ('@status' == "-1") {
                    alert("Não foi possivel fazer a solicitação, por favor tente novamente!");
                }
            </script>
