﻿@model GestaoConsorcio.Models.Banco.ContatoCampanha 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var lista = ViewBag.Lista;

}



@using (Html.BeginForm("Gravar", "Campanhas", FormMethod.Post, new { Id = "Form1" }))
{
    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        @Model.Nome
                    </h3>

            @if (User.IsInRole("Administrador") || User.IsInRole("BackOfficeDoc") || User.IsInRole("BackOfficeLig"))
            {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Responsável</label>
                                @Html.DropDownListFor(x => x.UsuarioFK, (SelectList)ViewBag.ListaConsultores, "Nenhum", new { @class = "form-control" })
                                <span class="glyphicon form-control-feedback" id="nomecliente1"></span>
                            </div>
                        </div>
                    </div>
            }
            else
            {
                @Html.HiddenFor(x => x.UsuarioFK)
            }


                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Telefone</label>
                                <input type="text" class="form-control novonome" name="Telefone" id="Telefone" value="@Html.DisplayFor(x=> x.Telefone)">
                                <span class="glyphicon form-control-feedback" id="nomecliente1"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control novonome" name="Email" id="Email" value="@Html.DisplayFor(x=> x.Email)">
                                <span class="glyphicon form-control-feedback" id="nomecliente1"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Estado</label>
                                <input type="text" class="form-control novonome" name="Estado" id="Estado" value="@Html.DisplayFor(x=> x.Estado)">
                                <span class="glyphicon form-control-feedback" id="nomecliente1"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Data Caixa</label>
                                <input type="text" class="form-control novonome" name="FeitoEm" id="FeitoEm" value="@Html.DisplayFor(x=> x.FeitoEm)">
                                <span class="glyphicon form-control-feedback" id="nomecliente1"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Renda</label>
                                <input type="text" class="form-control novonome" name="Renda" id="Renda" value="@Html.DisplayFor(x=> x.Renda)">
                                <span class="glyphicon form-control-feedback" id="nomecliente1"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Carta</label>
                                <input type="text" class="form-control novonome" name="ValoresCarta" id="ValoresCarta" value="@Html.DisplayFor(x=> x.ValoresCarta)">
                                <span class="glyphicon form-control-feedback" id="nomecliente1"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Parcela</label>
                                <input type="text" class="form-control novonome" name="ValoresParcela" id="ValoresParcela" value="@Html.DisplayFor(x=> x.ValoresParcela)">
                                <span class="glyphicon form-control-feedback" id="nomecliente1"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Melhor Horario</label>
                                <input type="text" class="form-control novonome" name="MelhorHorario" id="MelhorHorario" value="@Html.DisplayFor(x=> x.MelhorHorario)">
                                <span class="glyphicon form-control-feedback" id="nomecliente1"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="checkbox" name="TagInvalido" id="TagInvalido" onclick="SalvarChk(2, '#TagInvalido', @Html.DisplayFor(x=>x.ContatoCampanhaID))" @ViewBag.Invalido />
                                <label>Inválido</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="checkbox" name="TagCxPostal" id="TagCxPostal" onclick="SalvarChk(7, '#TagCxPostal', @Html.DisplayFor(x=>x.ContatoCampanhaID))" @ViewBag.CxPostal />
                                <label>Cx postal/não atende</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="checkbox" name="TagCompativel" id="TagCompativel" onclick="SalvarChk(11, '#TagCompativel', @Html.DisplayFor(x=>x.ContatoCampanhaID))" @ViewBag.Incompativel />
                                <label>Renda não compatível</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="checkbox" name="TagPesquisando" id="TagPesquisando" onclick="SalvarChk(9, '#TagPesquisando', @Html.DisplayFor(x=>x.ContatoCampanhaID))" @ViewBag.Pesquisando />
                                <label>Pesquisando</label>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="checkbox" name="TagEnviada" id="TagEnviada" onclick="SalvarChk(8, '#TagEnviada', @Html.DisplayFor(x=>x.ContatoCampanhaID))" @ViewBag.Enviada />
                                <label>Proposta enviada</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="checkbox" name="TagFinalizado" id="TagFinalizado" onclick="SalvarChk(6, '#TagFinalizado', @Html.DisplayFor(x=>x.ContatoCampanhaID))" @ViewBag.Finalizado />
                                <label>Finalizado</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="checkbox" name="TagDesconto" id="TagDesconto" onclick="SalvarChk(10, '#TagDesconto', @Html.DisplayFor(x=>x.ContatoCampanhaID))" @ViewBag.Desconto />
                                <label>Desconto (medico, advogado)</label>
                            </div>
                        </div>
                    </div>
                 

                    <div class="row">
                        <div class="col-md-6">
                        @if (!User.IsInRole("Caixa")) {
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong> Salvar Alterações do Cadastro</strong>
                            </button>
                        }
                            <button type="button" class="btn btn-warning" onclick="voltar()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><strong> Voltar Para a Lista</strong>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="hidden" class="form-control novonome" name="ContatoCampanhaID" id="ContatoCampanhaID" value="@Html.DisplayFor(x=> x.ContatoCampanhaID)">
                                <span class="glyphicon form-control-feedback" id="nomecliente1"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label>Observacao</label>
                                <input type="text" class="form-control"  name="Observacao" id="Observacao" value="">
                                <span class="glyphicon form-control-feedback" id="nomecliente1"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Data</label>
                                <input type="text" class="form-control"  name="DataObs" id="DataObs" value="@DateTime.Now">
                                <span class="glyphicon form-control-feedback" id="nomecliente1"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="button" class="btn btn-success" onclick="SalvarObservacao()">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong> Salvar Observacao</strong>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" id="formdetalhe">
                            <div class="table-responsive tablegeral">
                                <div class="table-responsive">
                                    <table class="table table-hover ">
                                        <thead>
                                            <tr>
                                                <th>Data</th>
                                                <th>Texto</th>
                                                <th>Consultor</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbodygeral">
                                            @if (lista != null)
                                            {
                                                var aux = lista.Count - 1;

                                                for (int i = 0; i <= aux; i++)
                                                {
                                                    <tr>
                                                        <td>@lista[i].Data</td>
                                                        <td>@lista[i].Texto</td>
                                                        <td>@lista[i].Consultor</td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>

                                    </table>
                                    <div id="pagethoje" align="center"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    

}

<script>

    function voltar() {
        window.history.back();
    }

    function SalvarObservacao() {

        $.ajax({
            type: 'POST',
            url: '/Campanhas/SalvarObs',
            data: 'txt=' + $("#Observacao").val() + '&contatoid=' + $("#ContatoCampanhaID").val() + '&data=' + $("#DataObs").val(),
            success: function (msg) {
                window.location.reload(true);
            }
        });

    }

    function SalvarChk(id, loc, contatoid) {
        var chk = $(loc).is(":checked");
        $.ajax({
            type: 'POST',
            url: '/Campanhas/SalvarTagContato',
            data: 'contatoid=' + contatoid + '&tagid=' + id + '&status=' + chk,
        });

    }
</script>