﻿@model GestaoConsorcio.Models.View.CampanhaImportacaoVM
@{
    ViewBag.Title = "Importacao";
    Layout = "~/Views/Shared/_LayoutCampanha.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">
                        Campanhas - Importação
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Use os seguintes campos</label>
                    Nome, Telefone, Email, Estado, Renda, FeitoEm (data do lead), ValoresCarta, ValoresParcela, Sexo, MelhorHorario, OrigemTxt, Texto1, Texto2, Obs1, Obs2, Obs3, Obs4
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label>Campanha: </label>
                    <select id="CampanhaID" name="CampanhaID" class="form-control">
                        <option value="0">Selecione</option>
                        <option value="1">Antiga</option>
                        <option value="2">Feirão</option>
                        <option value="3">Indicação</option>
                    </select>
                </div>
                <div class="col-md-2">

                    <label>Consultor: </label>
                    <select id="ComboConsultorID" name="ComboConsultorID" class="form-control">
                        <option>Selecione</option>
                    </select>

                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label>Texto: </label>
                    @Html.TextAreaFor(x => x.Texto, new { style = "width:600px;height:400px" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 ">
                    <button type="submit" class="btn btn-sm btn-success btnimportacao">
                        <span class="glyphicon" aria-hidden="true"></span><strong>Importar</strong>
                    </button>

                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>


}


<script>

    $(document).ready(function () {

        $.ajax({
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            url: '/Combo/ComboConsultor',
            success: function (json) {
                var a = "";

                $(json).each(function () {

                    a += "<option value=" + this.consultorid + ">" + this.nome + " " + this.sobrenome + "</option>";

                });

                $("#ComboConsultorID").append(a);
            }

        });

    });
</script>