﻿@{

    Layout = "~/Views/Shared/_LayoutCampanha.cshtml";
    var lista = ViewBag.Lista;
    var quantidade = ViewBag.Count;
    var role = User.IsInRole("Atendente");

}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">
                        Campanha Caixa
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">
                        Geral
                    </h3>
                    @if (!User.IsInRole("Atendente"))
                    {
                        <div class="col-md-2">

                            <label>Consultor: </label>
                            <select id="ComboConsultor" class="form-control">
                                <option>Selecione</option>
                            </select>

                        </div>
                    }
                    else
                    {
                        <input type="hidden" id="ComboConsultor" name="ComboConsultor" class="form-control" value="@ViewBag.Usuario">
                    }
                    <div class="col-md-2">
                        <label>Campanha: </label>
                        <select id="ComboCampanha" class="form-control">
                            <option value="0">Selecione</option>
                            <option value="1">Antiga</option>
                            <option value="2">Feirão</option>
                            <option value="3">Indicação</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>De: </label>
                            <input type="date" class="form-control buscardata">
                        </div>

                    </div>
                    <div class="col-md-2">
                        <label>Até: </label>
                        <input type="date" class="form-control buscardataate">
                    </div>
                    <div class="col-md-2 ">
                        <button type="button" class="btn btn-sm btn-success btnbuscarcampanhas">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span><strong> Buscar</strong>
                        </button>

                    </div>
                </div>
            </div>

            <a href="@Url.Action("ExportarRelatorio", "Campanhas")" class="btn btn-success btn-exportar"><i class="fa fa-file-excel-o"></i> Exportar</a>
            <div class="row">
                <div class="col-md-12" id="formdetalhe">
                    <div class="table-responsive tablegeral">
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Estado</th>
                                        <th>Nome</th>
                                        <th>Carta</th>
                                        <th>Ultima Ação</th>
                                        <th>Status</th>
                                        <th>Detalhe</th>
                                    </tr>
                                </thead>
                                <tbody class="tbodygeral">
                                    @if (lista != null)
                                    {
                                        var aux = lista.Count - 1;

                                        for (int i = 0; i <= aux; i++)
                                        {
                                            <tr>
                                                <td>@lista[i].CriadoEm</td>
                                                <td>@lista[i].Estado</td>
                                                <td>@lista[i].Nome</td>
                                                <td>@(lista[i].ValoresCarta ?? "-")</td>
                                                <td>@(lista[i].UltimaAcao ?? "-")</td>
                                                <td>@(lista[i].UltimaAcaoDesc)</td>
                                                <td>
                                                    <button type="button" class="btn btn-circle btn-info detcamp" id="@lista[i].ContatoCampanhaID" data-tipo="hoje" onclick="ClickDetalhe(@lista[i].ContatoCampanhaID)">
                                                        <span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>

                            </table>
                            <div id="pagethoje" align="center"></div>
                        </div>
                    </div>
                    <div id="pagetgeral" align="center" data-quantidade="">



                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>


}



<script>

    var valhoje = @quantidade;
    var paginicial = 1;

    function ClickDetalhe(id) {
        var href = "../Campanhas/Detalhe?contatoid=" + id;
        window.location.href = href;
    }

    //Colocar os campos na tela e pegar os dados para enviar ao servidor para o filtro

    function Paginacao(_usuid, _campanhafk, _inicio, _fim) {

        var paghoje = Math.ceil(valhoje / 15) == 1 ? 0 : Math.ceil(valhoje / 15);

        if (paghoje < 0)
            paghoje = 1;

        if (paginicial <= 0) 
            paginicial = 1;

        $('#pagetgeral').bootpag({
            total: paghoje,
            page: paginicial,
            maxVisible: 3,
            leaps: true,
            firstLastUse: true,
            first: '←',
            last: '→',
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first'
        }).on('page', function (event, num) {

            CarregarLista(num, _usuid, _campanhafk, _inicio, _fim, false);

        });

    }


    $.ajax({
        type: 'post',
        contentType: 'application/json; charset=utf-8',
        url: '/Combo/ComboConsultor',
        success: function (json) {
            var a = "";

            $(json).each(function () {

                a += "<option value=" + this.consultorid + ">" + this.nome + " " + this.sobrenome + "</option>";

            });

            $("#ComboConsultor").append(a);
        }

    });

    function replaceAll(str, needle, replacement) {
        return str.split(needle).join(replacement);
    }

    function CarregarListaAjax(parms, _carregarpag) {

        $(".tbodygeral").html("<tr><td>Carregando...</td></tr>");

        $.ajax({
            type: 'post',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            url: '/Campanhas/BuscarCampanha',
            data: parms,
            success: function (json) {

                document.location.hash = encodeURIComponent(parms);

                var text = "";
                var classeStyle = "";
                $(json).each(function () {

                    text += "<tr>" +
                   "<td>" + this.CriadoEm + "</td>" +
                   "<td>" + this.Estado + "</td>" +
                   "<td>" + this.Nome + "</td>" +
                   "<td>" + this.ValoresCarta + "</td>" +
                   "<td>" + this.UltimaAcao + "</td>" +
                   "<td>" + this.UltimaAcaoDesc + "</td>" +
                   "<td>" +
                       "<button class='btn btn-info btn-circle detcamp' type='button' id='" + this.ContatoCampanhaID + "' data-tipo='hoje' onclick='ClickDetalhe(" + this.ContatoCampanhaID + ")'>" +
                       "<i class='glyphicon glyphicon-list'></i>" +
                        "</button>" +
                   "</td>" +
               "</tr>";


                });

                $(".tbodygeral").html(text);

                var objspams = JSON.parse(replaceAll(parms, '\'', '\"'));
                if (_carregarpag) setTimeout(Paginacao(objspams.usuid, objspams.campanhafk, objspams.inicio, objspams.fim), 2000);
            }
        });
    }


    function CarregarLista(_pag, _usuid, _campanhafk, _inicio, _fim, _carregarpag) {

        if (_usuid === undefined) _usuid = 0;

        var parms = "{ 'pag': " + _pag + ", 'usuid' : " + _usuid + ",'campanhafk' : " + _campanhafk + ",'inicio' : '" + _inicio + "','fim' : '" + _fim + "' }";
        CarregarListaAjax(parms, _carregarpag);
    }


    $(document).ready(function () {


        $('.btnbuscarcampanhas').click(function () {

            var _pag = 0;
            var _usuid = $("#ComboConsultor").val();
            var _campanhafk = $("#ComboCampanha").val();
            var _inicio = $(".buscardata").val();
            var _fim = $(".buscardataate").val();

            paginicial = 1;
            CarregarLista(_pag, _usuid, _campanhafk, _inicio, _fim, true);

        });


        var what_to_do = document.location.hash;
        if (what_to_do != null) {

            var parm_url = decodeURIComponent(what_to_do).replace('#', '');

            var objspams = JSON.parse(replaceAll(parm_url, '\'', '\"'));
            $("#ComboCampanha").val(objspams.campanhafk);
            $(".buscardata").val(objspams.inicio);
            $(".buscardataate").val(objspams.fim);
            paginicial = objspams.pag;

            CarregarListaAjax(parm_url, true);

        }
            

    });


</script>
