﻿@{
        var style = "";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if(User.IsInRole("BackOfficeLig")){
            style = "style='margin-top:50px'";
        }
        else
        {
            style = "";
        }
}

@using (Html.BeginForm())
{

    <div id="page-wrapper">
        <div class="container-fluid">
            @if (User.IsInRole("BackOfficeLig") || User.IsInRole("BackOfficeDoc") || User.IsInRole("Atendente") || User.IsInRole("Administrador")) { 
            <div class="row" style="margin-top:50px">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="form-group">
                        @*<button type="button" style="margin-left:25px" onclick="window.location.href='../Agendamento/AgendamentoLigacao'"><img width="160" height="150" src="../Content/img/Agendamento2.png" title="Agendamento de Ligação"><p>Agendamento de Ligação</p></button>*@
                        <button type="button" style="margin-left:25px" onclick="window.location.href='../Contrato/SimulacaoCompleta'"><img width="160" height="150" src="../Content/img/Simulacao.png" title="Simulação de Contrato"><p>Criar Agendamento</p></button>
                        <button type="button" style="margin-left:25px" onclick="window.location.href='../Agendamento/Agendamento'"><img width="160" height="150" src="../Content/img/Tarefas.png" title="Tarefas"><p>Tarefas</p></button>
                    </div>  
                </div>
            </div>
            <div class="row" @style>
                <div class="col-md-8 text-center col-md-offset-2">
                    <div class="form-group">


                    </div>
                </div>
            </div>

            @*<div class="row" style="margin-top:50px">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="form-group">
                        <button type="button" style="margin-left:25px" onclick="window.location.href='../Contrato/SolicitarCompleta'"><img width="160" height="150" src="../Content/img/SolicitacaoContrato.png" title="Solicitação de Contrato"><p>Solicitação de Contrato</p></button>
                        <button type="button" style="margin-left:25px" onclick="window.location.href='../Agendamento/AgendamentoLigacao'"><img width="160" height="150" src="../Content/img/Agendamento2.png" title="Agendamento de Ligação"><p>Agendamento de Ligação</p></button>
                        <button type="button" style="margin-left:25px" onclick="window.location.href='../Contrato/SimulacaoCompleta'"><img width="160" height="150" src="../Content/img/Simulacao.png" title="Simulação de Contrato"><p>Proposta</p></button>
                    </div>
                </div>
            </div>
            <div class="row" @style>
                <div class="col-md-8 text-center col-md-offset-2">
                    <div class="form-group">
                        <button type="button" style="margin-left:25px" onclick="window.location.href = '../Agendamento/AgendamentoVendas'"><img width="160" height="150" src="../Content/img/AgendamentoVenda.png" title="Agendamento de Vendas"><p>Agendamento de Venda</p></button>
                        <button type="button" style="margin-left:25px" onclick="window.location.href='../Contrato/SalvarContrato'"><img width="160" height="150" src="../Content/img/CadastroContrato.png" title="Cadastro de Contrato"><p>Cadastro de Contrato</p></button>
                        <button type="button" style="margin-left:25px" onclick="window.location.href='../Agendamento/Agendamento'"><img width="160" height="150" src="../Content/img/Tarefas.png" title="Tarefas"><p>Tarefas</p></button>

                    </div>
                </div>
            </div>*@


            }
        </div>
    </div>

}

