﻿body {
    margin: 0;
}

.login-box {
    width: 300px;
    position: absolute;
    left: 50%;
    margin:-120px 0 0 -150px;
    top: 50%;
}

.input-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0;
}
.input-control:focus {outline: 0;}
.form-group{margin-bottom: 0}

.form-group + .form-group{ border-top: 1px solid #ccc;}

.btn-login {
    margin-top: 20px;
    width: 100%;
    display: block;
    border-radius: 2px;
    border: 0;
    height: 46px;
    background-color: #529ecc;
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
}
.alert-box ul{ margin: 0;padding: 0;}
.alert-box ul li {
    list-style: none;
    margin: 0 0 15px;
    background-color: #f2dede;
    padding: 10px;
    text-align: center;
    color: #a94442;
}