﻿@model GestaoConsorcio.Models.View.ComissaoVM

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        @if (User.IsInRole("Atendente") || User.IsInRole("Administrador"))
                        {
                            <button type="button" style="float:right" class=" btn btn-danger" onclick="window.location.href='../Home/Index'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        }
                        else
                        {

                            <button type="button" style="float:right" class=" btn btn-danger" onclick="window.location.href='../Agendamento/Agendamento'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>

                        }
                        Cadastrar Comissão
                    </h3>

                </div>
            </div>

            <div class="row">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="col-md-12">
                        @if (ViewBag.Visivel == "")
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="alert @ViewBag.TipoAlert">
                                            <strong>@ViewBag.Mensagem</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Consultor: </label>
                                <select id="ComboConsultorNovo" class="form-control" name="ComboConsultorNovo">
                                    @foreach (GestaoConsorcio.Models.View.ConsultorVM lista in Model.consultor)
                                    {
                                        <option value="@lista.consultorid">@lista.nome @lista.sobrenome</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Comissão</label>

                                <div class="input-group">
                                    <input class="form-control novovalimoo" data-mask="#.##0,00" data-mask-reverse="true" data-mask-maxlength="false" name="Valor" value="">
                                    <span class="input-group-addon">
                                        %
                                    </span>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong>Salvar</strong>
                        </button>

                    </div>

                </div>
            </div>

            <div class="modal fade modalmsg " data-backdrop="static" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">

                        </div>

                        <div class="modal-body modalbodymsg" role="alert" align="center">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btnokmodal" onclick="" data-dismiss="modal">OK</button>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>
        <!-- /.container-fluid -->



}
