﻿@using Microsoft.AspNet.Identity

@{
    var username = User.Identity.Name;

    var ContratosUsers = new int[] {15 , 18 };
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Gestão de Consórcio</title>

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    
    <link href="@Url.Content("~/Content/sb-admin.css")" rel="stylesheet">

    <link href="@Url.Content("~/Content/maxlength.css")" rel="stylesheet">

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet">
    
    <link href="@Url.Content("~/fonts/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">


    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.bootpag.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.bootpag.min.js")"></script>
    <script src="@Url.Content("~/Scripts/maxlength.js")"></script>
    <script src="@Url.Content("~/Scripts/agendamento.js")"></script>
    <script src="@Url.Content("~/Scripts/agendamentodetalhe.js")"></script>
    <script src="@Url.Content("~/Scripts/contrato.js")"></script>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../Home/Index">Gestão de Consórcio</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @username <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="../Account/ChangePassword"><i class=" fa fa-fw fa-edit"></i> Trocar senha</a>
                        </li>
                       @if (User.IsInRole("Administrador"))
                       { 
                        <li>
                            <a href="../Account/Register"><i class="fa fa-fw fa-gear"></i> Novo Usuário</a>
                        </li>
                       }
                        <li class="divider"></li>
                        <li>
                            <a href="../Account/LogOff"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    @if (!User.IsInRole("Caixa"))
                    {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Vendas <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                           
                            <li>
                                <a href="../Agendamento/Agendamento">Tarefas</a>
                            </li>
                            
                            @if (User.IsInRole("BackOfficeDoc") || User.IsInRole("Administrador") || User.IsInRole("Atendente"))
                            {
                            <li>
                                <a href="../Agendamento/AgendamentoVendas">Agendamento de Vendas</a>
                            </li>
                            }
                            @if (User.IsInRole("BackOfficeLig") || User.IsInRole("Administrador") || User.IsInRole("Atendente"))
                            {
                            <li>
                                <a href="../Agendamento/AgendamentoLigacao">Agendamento de Ligação</a>
                            </li>
                            }
                            <!-- <li>
                                <a class="btnovoagend" href="../Agendamento/NovoAgendamento">Novo Agendamento</a>
                            </li>-->
                           
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="fa fa-fw fa-list"></i> Contratos <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo2" class="collapse">
                            @if (User.IsInRole("BackOfficeDoc") || User.IsInRole("Administrador") || User.IsInRole("Atendente"))
                            {
                            <li>
                                <a href="../Contrato/SolicitarCompleta">Solicitar</a>
                            </li>
                            }
                            @if (ContratosUsers.Contains(User.Identity.GetUserId<int>()))
                            {
                                <li>
                                    <a href="../Contrato/relatorio">Listar Contrato</a>
                                </li>

                            }
                            <li>
                                <a href="../Contrato/SalvarContrato">Salvar Contrato</a>
                            </li>
                            <li>
                                <a href="../Contrato/SimulacaoCompleta">Simulação</a>
                            </li>
                            @if (User.IsInRole("BackOfficeDoc") || User.IsInRole("Administrador") || User.IsInRole("BackOfficeLig"))
                            {
                            <li>
                                <a href="../Contrato/BuscarContrato">Buscar Contrato</a>
                            </li>
                            }
                           
                        </ul>
                    </li>
                        if (User.IsInRole("Administrador"))
                        {
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo3"><i class="fa fa-fw fa-usd"></i> Comissão <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo3" class="collapse">
                            
                                    <li>
                                        <a href="../Comissao/Cadastrar">Cadastrar</a>
                                    </li>
                            </ul>
                        </li>
                        }

                    }

                    <li>

                        <a href="javascript:;" data-toggle="collapse" data-target="#camp"><i class="fa fa-fw fa-list"></i> Campanhas <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="camp" class="collapse">
                            <li>
                                <a href="../campanhas">Lista</a>
                            </li>
                            <li>
                                <a href="../campanhas/importacao">Importação</a>
                            </li>
                        </ul>
                    </li>


                </ul>

            </div>
        </nav>
        
        <!-- /#page-wrapper -->
        @RenderBody()

        <script src="@Url.Content("~/Scripts/jquery.mask.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.mask.test.js")"></script>
        <link href="@Url.Content("~/Content/maxlength.css")" rel="stylesheet">
    </div>
    <!-- /#wrapper -->
    
    <!-- jQuery -->
    
    <div id="modalLigacaoAgendada" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Você tem uma ligação agendada para agora.</h3>
                </div>
                <div class="modal-body">
                    Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>

        </div>
    </div>    

</body>
</html>

<script>

    setInterval(function () {
        $.ajax({

            type: 'post',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            url: '/Agendamento/VerificarLigacaoAgendada',
            accepts: {
                text: "application/json"
            },
            success: function (dados) {

                console.log(JSON.stringify(dados));

                if (dados != "")
                {
                    var msg = "ATENÇÃO!!! \r\n Você tem uma ligação agendada. \r\n Nome: "
                                + dados.Nome + " \r\n Fone: " + dados.Fone1
                                + " \r\n Tratar agora?"

                    var r = confirm(msg);
                    if (r == true) {

                        var href = "../Agendamento/DetalheAgendamento?url=" + dados.AgendamentoId + "";
                        window.location.href = href;

                    } 
                }

            },
            error: function (erro) {
                console.log("Erro" + JSON.stringify(erro));
            }
        })
    }, 50000);

</script>    
