﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gestão</title>

    
    <link href ="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href ="@Url.Content("~/fonts/font-awesome/css/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href ="@Url.Content("~/Content/sb-admin.css")" rel="stylesheet" type="text/css"/>   
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />   

</head>
  <body>
       
    @RenderBody()
      

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/plugins/morris/raphael.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/morris/morris.js")" type="text/javascript"></script>

</body>


    
</html>


