﻿@model GestaoConsorcio.Models.View.TarefasBackOffice

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var lista = ViewBag.Retorno;
    var quantidade = ViewBag.CountRetorno;

    var lista2 = ViewBag.Solicitacoes;
    var quantidade2 = ViewBag.CountSol;
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        Tarefas de Hoje
                    </h3>
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>Data e Hora</th>
                                    <th>Cliente</th>
                                    <th>Telefone Fixo</th>
                                    <th>Celular</th>
                                    <th>Tipo</th>
                                    <th>Consultor</th>
                                    <th>Detalhe</th>
                                    <th>Excluir</th>
                                </tr>
                            </thead>
                            <tbody class="tbodytoday">
                                @if (lista != null)
                                {
                                    var aux = 0;

                                    if (lista.Count <= 5)
                                    {
                                        aux = lista.Count - 1;
                                    }

                                    for (int i = 0; i <= aux; i++)
                                    {
                                        var dtcont = (lista[i].dtcontato).ToString();
                                        var dtcontatos = dtcont.Split('-');
                                        var error = "";
                                        if (lista[i].fg_urgente == true)
                                        {
                                            error = "danger";
                                        }
                                        else
                                        {
                                            error = "";
                                        }

                                        <tr class="@error">
                                            <td>@dtcontatos[2]/@dtcontatos[1]/@dtcontatos[0]   @lista[i].hora</td>
                                            <td>@lista[i].nome</td>
                                            <td>@lista[i].fone1</td>
                                            <td>@lista[i].fone2</td>
                                            <td>@lista[i].tipocliente</td>
                                            <td>@lista[i].consultornome</td>
                                            <td>
                                                <button type="button" class="btn btn-circle btn-info btneditdetalhe" id="@lista[i].agendamentoid">
                                                    <span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-circle btnexcluidetalhegeral" type="button" id="@lista[i].agendamentoid">
                                                    <i class=" glyphicon glyphicon-remove"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                                
                            </tbody>
                            
                        </table>
                        <div id="pagethoje" align="center"></div>
                    </div>
                </div>
            </div>
            @if (User.IsInRole("BackOfficeLig"))
            {
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">
                            Geral
                        </h3>
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <thead>
                                    <tr>
                                        <th>Data e Hora</th>
                                        <th>Cliente</th>
                                        <th>Telefone Fixo</th>
                                        <th>Celular</th>
                                        <th>Tipo</th>
                                        <th>Consultor</th>
                                        <th>Detalhe</th>
                                        <th>Excluir</th>
                                    </tr>
                                </thead>
                                <tbody class="tbodytoday">
                                    @if (lista != null)
                                    {
                                        var aux = 0;

                                        if (lista.Count <= 5)
                                        {
                                            aux = lista.Count - 1;
                                        }

                                        for (int i = 0; i <= aux; i++)
                                        {
                                            var dtcont = (lista[i].dtcontato).ToString();
                                            var dtcontatos = dtcont.Split('-');
                                            var error = "";
                                            if (lista[i].fg_urgente == true)
                                            {
                                                error = "danger";
                                            }
                                            else
                                            {
                                                error = "";
                                            }

                                            <tr class="@error">
                                                <td>@dtcontatos[2]/@dtcontatos[1]/@dtcontatos[0]   @lista[i].hora</td>
                                                <td>@lista[i].nome</td>
                                                <td>@lista[i].fone1</td>
                                                <td>@lista[i].fone2</td>
                                                <td>@lista[i].tipocliente</td>
                                                <td>@lista[i].consultornome</td>
                                                <td>
                                                    <button type="button" class="btn btn-circle btn-info btneditdetalhe" id="@lista[i].agendamentoid">
                                                        <span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger btn-circle btnexcluidetalhegeral" type="button" id="@lista[i].agendamentoid">
                                                        <i class=" glyphicon glyphicon-remove"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>

                            </table>
                            <div id="pagethoje" align="center"></div>
                        </div>
                    </div>
                </div>
            }
            
            @if (User.IsInRole("BackOfficeDoc")) { 
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">
                        Solicitação de Contrato
                    </h3>
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Consultor</th>
                                    <th>Protocolo</th>                                    
                                    <th>Detalhe</th>
                                    <th>Excluir</th>
                                </tr>
                            </thead>
                            <tbody class="tbodytodayback">
                                @if (lista2 != null)
                                {
                                    var aux = 0;

                                    if (lista2.Count <= 5)
                                    {
                                        aux = lista2.Count - 1;
                                    }

                                    for (int i = 0; i <= aux; i++)
                                    {
                                         
                                        <tr class="">
                                            <td>@lista2[i].dtatendimento.ToString().Replace(" 00:00:00","")</td>
                                            <td>@lista2[i].consultornome</td>
                                            <td>@lista2[i].protocolo</td>
                                            
                                            <td>
                                                <button type="button" class="btn btn-circle btn-info btneditdetalhe" id="@lista2[i].agendamentoid">
                                                    <span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-circle btnexcluidetalhegeral" type="button" id="@lista2[i].agendamentoid">
                                                    <i class=" glyphicon glyphicon-remove"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            
            
            }  
            <div class="modal fade modalmsgexcluir " data-backdrop="static" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4></h4>
                        </div>

                        <div class="modal-body modalbodymsg" role="alert" align="center">
                            <h4>Deseja mesmo excluir o atendimento?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-danger btnexcluiragend" data-name="" id="">Excluir</button>
                        </div>

                    </div>

                </div>
            </div>

            <div class="modal fade modalmsgexcluirbusca " data-backdrop="static" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4></h4>
                        </div>

                        <div class="modal-body modalbodymsg" role="alert" align="center">
                            <h4>Deseja mesmo excluir o atendimento?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-danger btnexcluiragendbusca" data-name="" id="">Excluir</button>
                        </div>

                    </div>

                </div>
            </div>

            <div class="modal fade modalmsgexcluido " data-backdrop="static" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal excluido-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4></h4>
                        </div>

                        <div class="modal-body modalbodymsg" role="alert" align="center">
                            <h4 class="msgexclusao"></h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>

                    </div>

                </div>
            </div>
            
        </div>
        <!-- /.container-fluid -->
    </div>


}



<script>
    var valhoje = '@quantidade';
    var paghoje = Math.ceil(valhoje / 5) == 1 ? 0 : Math.ceil(valhoje / 5);

    $('#pagethoje').bootpag({
        total: paghoje,
        page: 1,
        maxVisible: 3,
        leaps: true,
        firstLastUse: true,
        first: '←',
        last: '→',
        wrapClass: 'pagination',
        activeClass: 'active',
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first'
    }).on('page', function (event, num) {
        $.ajax({
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            url: '/Agendamento/TarefaHoje',
            data: "{'pag': '" + num + "'}",
            success: function (json) {
                var text = "";
                $(json).each(function () {
                    var dtcontatos = (this.dtcontato).split("-");

                    text += "<tr>" +
                        "<td>" + dtcontatos[2] + "/" + dtcontatos[1] + "/" + dtcontatos[0] + " " + " " + this.hora + "</td>" +
                         "<td>" + this.nome + "</td>" +
                         "<td>" + this.fone1 + "</td>" +
                         "<td>" + this.fone2 + "</td>" +
                         "<td>" + this.tipocliente + "</td>" +
                         "<td>" + this.consultornome + "</td>" +
                         "<td>" +
                         "<button type='button' class='btn btn-circle btn-info btneditdetalhe' id='" + this.agendamentoid + "'>" +
                             "<span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>" +
                         "</button>" +
                         "</td>" +
                         "<td>" +
                             "<button class='btn btn-danger btn-circle btnexcluidetalhegeral' type='button' id='" + this.agendamentoid + "'>" +
                            "<i class='glyphicon glyphicon-remove'></i>" +
                            "</button>" +
                            "</td>" +
                      "</tr>";
                });

                $(".tbodytoday").html(text);

                $(".btneditdetalhe").click(function () {
                    var id = $(this).attr("id");
                    var href = "../Agendamento/DetalheAgendamento?url=" + id + "";
                    window.open(href, '_blank');
                    return false;
                });

                $('.btnexcluidetalhegeral').click(function () {

                    $(".modalmsgexcluir").modal('show');
                    var id = $(this).attr('id');
                    $('.btnexcluiragend').attr('id', id);
                    $('.btnexcluiragend').attr('data-name', "tarefahoje");
                });

            }
        });
    });

    $.ajax({
        type: 'post',
        contentType: 'application/json; charset=utf-8',
        url: '/Combo/ComboConsultor',
        success: function (json) {
            var a = "";

            $(json).each(function () {

                a += "<option value=" + this.consultorid + ">" + this.nome + " " + this.sobrenome + "</option>";

            });

            $("#ComboConsultor").append(a);
        }

    });

</script>