﻿@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Js
{
    <script src="~/Scripts/agendamento.js"></script>
    <script src="~/Scripts/agendamentodetalhe.js"></script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        @if (User.IsInRole("Atendente") || User.IsInRole("Administrador"))
                        {
                            <button type="button" style="float:right" class=" btn btn-danger" onclick="window.location.href='../Home/Index'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        }
                        else
                        {

                            <button type="button" style="float:right" class=" btn btn-danger" onclick="window.location.href='../Agendamento/Agendamento'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>

                        }
                        Agendamento de Ligação
                    </h3>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="../Agendamento/Agendamento">Agendamento</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Agendamento de Ligação
                        </li>
                    </ol>
                </div>
            </div>
            <div class="alert @ViewBag.TipoAlert" @ViewBag.Visivel>
                <strong>@ViewBag.Mensagem</strong>
            </div>
            <div class="row">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="col-lg-12">
                    @if (User.IsInRole("Administrador") || User.IsInRole("BackOfficeDoc") || User.IsInRole("BackOfficeLig"))
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Consultor: </label>
                                    <select id="ComboConsultorNovo" class="form-control" name="ComboConsultorNovo">
                                        @foreach (GestaoConsorcio.Models.View.ConsultorVM lista in Model.Consultor)
                                        {
                                            <option value="@lista.consultorid">@lista.nome @lista.sobrenome</option>
                                        }
                                    </select>
                                    <span class="glyphicon form-control-feedback" id="ComboConsultorNovo1"></span>
                                </div>
                            </div>


                        </div>
                    }
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox" name="CheckUrgente" id="CheckUrgente" value="true" /> <strong>URGENTE</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Protocolo</label>
                                <input type="text" class="form-control protocolo" name="ProtocoloAtendimentoL">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control novonome" name="NomeL">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Fone Fixo</label>
                                <input type="tel" class="form-control novofone1 " data-mask="(00) 0000-0000" name="FoneFixoL">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Fone Celular</label>
                                <input type="tel" class="form-control novofone2" data-mask="(00) 00000-0000" name="FoneCelularL">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="novocontato">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Data</label>
                                    <input type="date" class="form-control" name="DtContatoL">
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Hora</label>
                                    <input type="time" class="form-control" name="HoraL">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Observação</label>
                                    <textarea class="form-control novocontobs1 " rows="10" name="ObservacaoL"></textarea>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong>Salvar</strong>
                        </button>

                    </div>

                </div>
            </div>

            <div class="modal fade modalmsg " data-backdrop="static" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">

                        </div>

                        <div class="modal-body modalbodymsg" role="alert" align="center">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btnokmodal" onclick="" data-dismiss="modal">OK</button>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->



}
