﻿@model GestaoConsorcio.Models.View.DadosAgen

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var lista = ViewBag.Retorno;
    var quantidade = ViewBag.Count;
    var role = User.IsInRole("Atendente");

}

@section Js
{
    <script src="~/Scripts/agendamento.js"></script>
    <script src="~/Scripts/agendamentodetalhe.js"></script>

    <script>
    var consultorex = "";
    var tipoex = "";
    var clienteex = "";
    var aex = "";
    var dataex = "";
    var datate = "";

    consultorex = $("#ComboConsultor").val();
    tipoex = $("#TipoCliente").val();
    clienteex = $(".buscarcliente").val();
    aex = "";
    dataex = $(".buscardata").val();
    datate = $(".buscardataate").val();
    fina = $(".checkBoxFin").is(":checked");


    var valhoje = '@quantidade';
    var paghoje = Math.ceil(valhoje / 15) == 1 ? 0 : Math.ceil(valhoje / 15);

    $('#pagetgeral').bootpag({
        total: paghoje,
        page: 1,
        maxVisible: 3,
        leaps: true,
        firstLastUse: true,
        first: '←',
        last: '→',
        wrapClass: 'pagination',
        activeClass: 'active',
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first'
    }).on('page', function (event, num) {

        $.ajax({
            type: 'post',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            url: '/Agendamento/BuscarAgendamento',
            data: "{ 'consultor': '" + consultorex + "', 'tipo' : '" + tipoex + "','cliente' : '" + clienteex + "','data' : '" + dataex + "','dataate' : '" + datate + "','pag' : '" + num + "','finalizado' : '" + fina + "','cor' : " + vlcor + ",'valini' : " + vlini + ",'valfim' : " + vlfin + " }",
            success: function (json) {
                var text = "";
                var classeStyle = "";
                $(json.dados).each(function () {

                    switch (this.Classificacao) {
                        case 0: classeStyle = ""; break;
                        case 1: classeStyle = "success"; break;
                        case 2: classeStyle = "transicao"; break;
                        case 3: classeStyle = "danger"; break;
                        case 4: classeStyle = "info"; break;
                    }

                    var dtcontatos = (this.dtcontato).split("-");
                    var error = "";

                    if (this.fg_urgente == true) {
                        error = "<span style='color: red'>- URGENTE</span>";
                    }
                    else {
                        error = "";
                    }

                    if (dtcontatos[0] == "") {
                        text += "<tr class='" + classeStyle + "'>" +
                       "<td>" + dtcontatos[0] + this.hora + "</td>" +
                       "<td>" + this.nome + error + "</td>" +
                       "<td>" + this.fone1 + "</td>" +
                       "<td>" + this.fone2 + "</td>" +
                       "<td>" + this.tipocliente + "</td>" +
                       "<td>" + this.consultornome + "</td>" +
                       "<td>" +
                           "<button class='btn btn-info btn-circle btneditdetalhegeral' type='button' id='" + this.agendamentoid + "'>" +
                           "<i class='glyphicon glyphicon-list'></i>" +
                            "</button>" +
                       "</td>" +
                       "<td>" +
                           "<button class='btn btn-danger btn-circle btnexcluidetalhegeral' type='button' id='" + this.agendamentoid + "'>" +
                           "<i class='glyphicon glyphicon-remove'></i>" +
                            "</button>" +
                       "</td>" +
                   "</tr>";
                    } else {
                        text += "<tr class='" + classeStyle + "'>" +
                       "<td>" + dtcontatos[2] + "/" + dtcontatos[1] + "/" + dtcontatos[0] + " " + this.hora + "</td>" +
                       "<td>" + this.nome + error + "</td>" +
                       "<td>" + this.fone1 + "</td>" +
                       "<td>" + this.fone2 + "</td>" +
                       "<td>" + this.tipocliente + "</td>" +
                       "<td>" + this.consultornome + "</td>" +
                       "<td>" +
                           "<button class='btn btn-info btn-circle btneditdetalhegeral' type='button' id='" + this.agendamentoid + "'>" +
                           "<i class='glyphicon glyphicon-list'></i>" +
                            "</button>" +
                       "</td>" +
                       "<td>" +
                           "<button class='btn btn-danger btn-circle btnexcluidetalhegeral' type='button' id='" + this.agendamentoid + "'>" +
                           "<i class='glyphicon glyphicon-remove'></i>" +
                            "</button>" +
                       "</td>" +
                   "</tr>";
                    }

                });

                $(".tbodygeral").html(text);

                $(".btneditdetalhegeral").click(function () {
                    var id = $(this).attr("id");
                    var href = "../Agendamento/DetalheAgendamento?url=" + id + "";
                    window.open(href, '_blank');
                    return false;
                });

                $('.btnexcluidetalhegeral').click(function () {

                    $(".modalmsgexcluirbusca").modal('show');
                    var id = $(this).attr('id');
                    $('.btnexcluiragendbusca').attr('id', id);
                    $('.btnexcluiragendbusca').attr('data-name', "buscageral");
                });

            }
        });

    });

    $.ajax({
        type: 'post',
        contentType: 'application/json; charset=utf-8',
        url: '/Combo/ComboConsultor',
        success: function (json) {
            var a = "";

            $(json).each(function () {

                a += "<option value=" + this.consultorid + ">" + this.nome + " " + this.sobrenome + "</option>";

            });

            $("#ComboConsultor").append(a);
        }

        });

        $.ajax({
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            url: '/Agendamento/BuscaTipoAgendamento',
            success: function (json) {
                var a = "";

                $(json).each(function () {

                    a += "<option value=" + this.Id + ">" + this.Descricao + "</option>";
                });

                $("#TipoCliente").append(a);
            }
        });

    </script>
}


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">
                        Geral
                    </h3>
                    @if (!User.IsInRole("Atendente"))
                    {
                        <div class="col-md-2">

                            <label>Consultor: </label>
                            <select id="ComboConsultor" class="form-control">
                                <option>Selecione</option>
                            </select>

                        </div>
                    }
                    <div class="col-md-2">
                        <label>Cliente: </label>
                        <input class="form-control buscarcliente">
                    </div>
                    <div class="col-md-2">
                        <label>Tipo: </label>
                        <select id="TipoCliente" class="form-control">
                            <option value="0">Selecione</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>De: </label>
                            <input type="date" class="form-control buscardata">
                        </div>

                    </div>
                    <div class="col-md-2">
                        <label>Até: </label>
                        <input type="date" class="form-control buscardataate">
                    </div>
                    <div class="col-md-offset-2">
                        <p><strong>Finalizado</strong></p>
                        <input type="checkbox" class="ls-field-checkbox checkBoxFin" name="finalizado">
                    </div>
                    <div class="col-md-2 ">
                        <div style="margin-top:-29px; margin-left:86px">
                            <button type="button" class="btn btn-sm btn-success btnbuscargeral">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span><strong> Buscar</strong>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>Classificação</label>
                        <select class="form-control" name="ClassificacaoV" id="ClassificacaoV">
                            <option value="0">Selecione</option>
                            <option value="1" style="color:green">Verde</option>
                            <option value="2" style="color:goldenrod">Amarela</option>
                            <option value="3" style="color:red">Vermelha</option>
                            <option value="4" style="color:blue">Azul</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Valor Mínimo: </label>
                        <input type="number" class="form-control" id="VrMinimo" name="VrMinimo">
                    </div>

                    <div class="col-md-2">
                        <label>Valor Máximo: </label>
                        <input type="number" class="form-control" id="VrMaximo" name="VrMaximo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-offset-2">
                        <p></p>
                    </div>
                    <div class="col-md-2">
                        <label id="dvTotal">Total: @quantidade</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" id="formdetalhe">
                    <div class="table-responsive tablegeral">
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <thead>
                                    <tr>
                                        <th>Data e Hora</th>
                                        <th>Cliente</th>
                                        <th>Telefone Fixo</th>
                                        <th>Celular</th>
                                        <th>Tipo</th>
                                        <th>Consultor</th>
                                        <th>Detalhe</th>
                                    </tr>
                                </thead>
                                <tbody class="tbodygeral">
                                    @if (lista != null)
                                    {
                                        var aux = 0;

                                        if (lista.Count <= 15)
                                        {
                                            aux = lista.Count - 1;
                                        }

                                        for (int i = 0; i <= aux; i++)
                                        {
                                            var dtcont = (lista[i].dtcontato).ToString();
                                            var dtcontatos = dtcont.Split('-');

                                            var error = "";
                                            if (lista[i].fg_urgente == true)
                                            {
                                                error = "<span style='color: red'>- URGENTE</span>";
                                            }
                                            else
                                            {
                                                error = "";
                                            }

                                            int idclass = lista[i].Classificacao;
                                            var classeStyle = "";

                                            switch (idclass)
                                            {
                                                case 0: classeStyle = ""; break;
                                                case 1: classeStyle = "success"; break;
                                                case 2: classeStyle = "transicao"; break;
                                                case 3: classeStyle = "danger"; break;
                                                case 4: classeStyle = "info"; break;
                                            }


                                            if (dtcontatos[0] == "")
                                            {
                                                <tr class="@classeStyle">
                                                    <td>@dtcontatos[0]</td>
                                                    <td>@lista[i].nome @Html.Raw(error)</td>
                                                    <td>@lista[i].fone1</td>
                                                    <td>@lista[i].fone2</td>
                                                    <td>@lista[i].tipocliente</td>
                                                    <td>@lista[i].consultornome</td>
                                                    <td>
                                                        <button type="button" class="btn btn-circle btn-info btneditdetalhe" id="@lista[i].agendamentoid" data-tipo="hoje">
                                                            <span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-circle btnexcluidetalhegeral" type="button" id="@lista[i].agendamentoid">
                                                            <i class=" glyphicon glyphicon-remove"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr class="@classeStyle">
                                                    <td>@dtcontatos[2]/@dtcontatos[1]/@dtcontatos[0]   @lista[i].hora</td>
                                                    <td>@lista[i].nome @Html.Raw(error)</td>
                                                    <td>@lista[i].fone1</td>
                                                    <td>@lista[i].fone2</td>
                                                    <td>@lista[i].tipocliente</td>
                                                    <td>@lista[i].consultornome</td>
                                                    <td>
                                                        <button type="button" class="btn btn-circle btn-info btneditdetalhe" id="@lista[i].agendamentoid" data-tipo="hoje">
                                                            <span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>

                            </table>
                            <div id="pagethoje" align="center"></div>
                        </div>

                    </div>
                    <div id="pagetgeral" align="center" data-quantidade="">



                    </div>

                </div>
            </div>
            <div class="modal fade modalmsgexcluir " data-backdrop="static" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4></h4>
                        </div>

                        <div class="modal-body modalbodymsg" role="alert" align="center">
                            <h4>Deseja mesmo excluir o atendimento?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-danger btnexcluiragend" data-tipo="" data-name="" id="">Excluir</button>
                        </div>

                    </div>

                </div>
            </div>

            <div class="modal fade modalmsgexcluirbusca " data-backdrop="static" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4></h4>
                        </div>

                        <div class="modal-body modalbodymsg" role="alert" align="center">
                            <h4>Deseja mesmo excluir o atendimento?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-danger btnexcluiragendbusca" data-name="" id="">Excluir</button>
                        </div>

                    </div>

                </div>
            </div>

            <div class="modal fade modalmsgexcluido " data-backdrop="static" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal excluido-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4></h4>
                        </div>

                        <div class="modal-body modalbodymsg" role="alert" align="center">
                            <h4 class="msgexclusao"></h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>


}

