﻿@model List<GestaoConsorcio.Models.View.AgendamentoHistoricoVM>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var roleAtendente = User.IsInRole("Atendente");

}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">
                        Historico de Agendamento
                    </h3>
                    @if (!User.IsInRole("Atendente"))
                    {
                        <div class="col-md-2">

                            <label>Consultor: </label>
                            <select id="ComboConsultor" class="form-control">
                                <option>Selecione</option>
                            </select>
                        </div>
                    }
                    <div class="col-md-2">
                        <label>Cliente: </label>
                        <input class="form-control buscarPorCliente">
                    </div>
                    <div class="col-md-2">
                        <label>Tipo: </label>
                        <select id="TipoCliente" class="form-control">
                            <option value="0">Selecione</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>De: </label>
                            <input type="date" class="form-control buscardata">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Até: </label>
                        <input type="date" class="form-control buscardataate">
                    </div>

                    <div class="col-md-2 ">
                        <div style="margin-top:29px;">
                            <button type="button" class="btn btn-sm btn-success btnbuscarAgendamentoHistorico" id="btnbuscarAgendamentoHistorico">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span><strong> Buscar</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="formdetalhe">
                    <div class="table-responsive tablegeral">
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <thead>
                                    <tr>
                                        <th>Atendente</th>
                                        <th>Cliente</th>
                                        <th>Data</th>
                                        <th>Tipo Inicial</th>
                                        <th>Tipo Final</th>
                                    </tr>
                                </thead>
                                <tbody class="tbodygeral">

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Atendente</td>
                                            <td>@item.Cliente</td>
                                            <td>@item.CriadoEm.ToString()</td>
                                            <td>@item.TipoInicial</td>
                                            <td>@item.TipoFinal</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div id="pagethoje" align="center"></div>
                        </div>
                    </div>
                    <div id="pagetgeral" align="center" data-quantidade="">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>

}
@section Js
{
    <script>

        $.ajax({
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            url: '/Combo/ComboConsultor',
            success: function (json) {
                var a = "";

                $(json).each(function () {

                    a += "<option value=" + this.consultorid + ">" + this.nome + " " + this.sobrenome + "</option>";

                });

                $("#ComboConsultor").append(a);
            }
        });

        $.ajax({
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            url: '/Agendamento/BuscaTipoAgendamento',
            success: function (json) {
                var a = "";

                $(json).each(function () {

                    a += "<option value=" + this.Id + ">" + this.Descricao + "</option>";
                });

                $("#TipoCliente").append(a);
            }
        });

        $(".buscarPorCliente").keydown(function (e) {
            if (e.originalEvent.key.toLowerCase() == "enter") {
                $("#btnbuscarAgendamentoHistorico").click();
            }
        })

        $("#btnbuscarAgendamentoHistorico").click(function () {

            $("#btnbuscarAgendamentoHistorico").prop("disabled", true);

            var tipoex = "";
            var clienteex = "";
            var dataex = "";
            var datate = "";
            var comboConsultor = 0;

            tipoex = $("#TipoCliente").val();
            clienteex = $(".buscarPorCliente").val();
            dataex = $(".buscardata").val();
            datate = $(".buscardataate").val();
            comboConsultor = $("#ComboConsultor").val();

            $('.tbodygeral tr').remove();
            $("#divLoader").show();

            var data =
            {
                ConsultorId: comboConsultor,
                Cliente: clienteex,
                Tipo: tipoex,
                DataInicio: dataex,
                DataFim: datate
            }

            $.ajax({
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                url: '/Agendamento/BuscaHistoricoAgendamento',

                data: JSON.stringify(data),
                success: function (json) {
                    $(json.Data).each(function () {

                        $('.tbodygeral')
                            .append('<tr> </tr>');
                        $('.tbodygeral tr:last ')
                            .append('<td>' + this.Atendente + '</td>')
                            .append('<td>' + this.Cliente + '</td>')
                            .append('<td>' + this.CriadoEm + '</td>')
                            .append('<td>' + this.TipoInicial + '</td>')
                            .append('<td>' + this.TipoFinal + '</td>');
                    });
                    //$("#divLoader").hide();
                    $("#btnbuscarAgendamentoHistorico").prop("disabled", false);

                },
                error: function () {
                    $("#divLoader").hide();
                    $("#btnbuscarAgendamentoHistorico").prop("disabled", false);
                }
            });

        })
    </script>
}