﻿@model GestaoConsorcio.Models.View.ChatVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Js
{
    <script src="~/Scripts/agendamento.js"></script>
    <script src="~/Scripts/agendamentodetalhe.js"></script>

    <script>
        $(".btnback").click(function () {
            alert('4');
            var id = $(this).attr('id');
            var href = "../Agendamento/DetalheAgendamento?url=" + id + "";
            window.location.href = href;
        });
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-info btnback" id="@Model.AgendamentoId">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="message-wrap col-lg-10">
                    <div class="msg-wrap">
                        <div class="media msg">
                            <div class="alert alert-info msg-date">
                                <div class="row">
                                    <div class="col-md-12" align="center">
                                        <label class="col-md-3">
                                            Cliente: @Model.Cliente.ToUpper()
                                        </label>
                                        <label class="col-md-2">
                                            Sessão: @Model.Sessao
                                        </label>
                                        <label class="col-md-2">
                                            Duração: @Model.Duracao
                                        </label>
                                        <label class="col-md-3">
                                            Protocolo: @Model.Protocolo
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @for (int i = 0; i < Model.Conversa.Count; i++)
                        {
                            <div class="media msg ">
                                <div class="media-body">
                                    <small class="pull-right time"><i class="fa fa-clock-o"></i> @Model.Conversa[i].Hora.Split(':')[0] : @Model.Conversa[i].Hora.Split(':')[1]</small>
                                    <h5 class="media-heading"><strong>@Model.Conversa[i].Nome.ToUpper()</strong> </h5>
                                    <small class="col-lg-10">
                                        @Model.Conversa[i].Msg
                                    </small>
                                </div>
                            </div>
                        }


                    </div>

                </div>
            </div>
        </div>
    </div>

}

