﻿@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    var dthoje = DateTime.Now.Year + "-" + (DateTime.Now.Month < 10 ? "0" + DateTime.Now.Month.ToString() : DateTime.Now.Month.ToString()) + "-" + (DateTime.Now.Day < 10 ? "0" + DateTime.Now.Day.ToString() : DateTime.Now.Day.ToString());
    var divdados = ViewBag.fg_Hidden;
}

@section Js
{
    <script src="~/Scripts/agendamento.js"></script>
    <script src="~/Scripts/agendamentodetalhe.js"></script>

    <script>


        $.ajax({
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            url: '/Combo/ComboConsultor',
            success: function (json) {
                var a = "";

                $(json).each(function () {

                    a += "<option value=" + this.consultorid + ">" + this.nome + " " + this.sobrenome + "</option>";

                });

                $("#ComboConsultorNovo").append(a);
            }

        });

        $.ajax({
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            url: '/Combo/ComboEstadoCivil',
            success: function (json) {
                var a = "";

                $(json).each(function () {

                    a += "<option value=" + this.estadocivilid + ">" + this.descricao + "</option>";

                });

                $("#ComboEstadoCivilNovo").append(a);
            }

        });


        function Menos() {

            $(".dadoscomplementares").hide();
            document.getElementById("btnmenos").style.visibility = "hidden";

        }

        function Mais() {
            document.getElementById("btnmenos").style.visibility = "visible";
            $(".dadoscomplementares").show();
        }
    </script>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        NOVO AGENDAMENTO
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="../Agendamento/Agendamento">Agendamento</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Novo Agendamento
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Cliente</h3>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label>Tipo </label>
                                <select id="ComboTipoCliente" class="form-control" name="ComboTipoCliente">
                                    <option value="0">Selecione</option>
                                    <option value="C">Venda</option>
                                    <option value="L">Ligação</option>

                                </select>
                                <span class="glyphicon form-control-feedback" id="ComboEstadoCivilNovo1"></span>
                            </div>
                        </div>
                        @if (User.IsInRole("Administrador") || User.IsInRole("BackOffice"))
                        {
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Consultor: </label>
                                    <select id="ComboConsultorNovo" class="form-control" name="ComboConsultorNovo">
                                        <option>Selecione</option>
                                    </select>
                                    <span class="glyphicon form-control-feedback" id="ComboConsultorNovo1"></span>
                                </div>
                            </div>
                        }



                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Data de Atendimento</label>
                            <input type="date" class="form-control novodtatentimento" name="novodtatentimento" id="novodtatentimento" value="@dthoje">
                        </div>
                        <div class="col-md-4">
                            <label>Protocolo</label>
                            <input type="text" class="form-control protocolo" name="protocolo" id="protocolo">
                            <span class="glyphicon form-control-feedback" id="protocolo1"></span>
                        </div>
                        <div class="col-md-4">
                            <label>Número do Contrato</label>
                            <input type="text" class="form-control numerocontrato" maxlength="6" name="numerocontrato" id="numerocontrato">
                            <span class="glyphicon form-control-feedback" id="numerocontrato1"></span>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <label>Nome</label>
                            <input type="text" class="form-control novonome" name="nomecliente" id="nomecliente">
                            <span class="glyphicon form-control-feedback" id="nomecliente1"></span>
                        </div>
                        <div class="col-md-4">
                            <label>Data de Nascimento</label>
                            <input type="date" class="form-control novodtnascimentof">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <label>Fone Fixo</label>
                            <input type="tel" class="form-control novofone1 " data-mask="(00) 0000-0000" name="novofone1" id="novofone1">
                            <span class="glyphicon form-control-feedback" id="novofone11"></span>
                        </div>
                        <div class="col-md-4">
                            <label>Fone Celular</label>
                            <input type="tel" class="form-control novofone2" data-mask="(00) 00000-0000">
                        </div>

                        <div class="col-md-4">
                            <label>E-mail</label>
                            <input type="email" class="form-control novoemail" name="novoemail" id="novoemail">
                            <span class="glyphicon form-control-feedback" id="novoemail1"></span>
                        </div>
                    </div>
                    <br />

                    <div class="row">

                        <div class="col-md-4">

                            <label>
                                <input class="checkautonovo" type="checkbox" value=""> Auto
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    R$
                                </span>
                                <input class="form-control novovalauto" data-mask="#.##0,00" data-mask-reverse="true" data-mask-maxlength="false" placeholder="Digite o valor" disabled value="">
                            </div>

                        </div>
                        <div class="col-md-4">
                            <label>
                                <input class="checkimonovo" type="checkbox" value=""> Imobiliário
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    R$
                                </span>
                                <input class="form-control novovalimoo" data-mask="#.##0,00" data-mask-reverse="true" data-mask-maxlength="false" placeholder="Digite o valor" disabled value="">
                            </div>

                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <label>Dados Complementares </label>

                            <button type="button" class="btn btn-info btn-sm btndadoscomplementares btnmais" onclick="Mais()">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>

                            <button type="button" class="btn btn-info btn-sm btndadoscomplementaresminus " id="btnmenos" onclick="Menos()" style="visibility:@divdados">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 dadoscomplementares" @divdados>
                    <h3 class="page-header">Dados Complementares para o Contrato</h3>

                    <div class="row">
                        <div class="col-lg-6">
                            <label class="radio-inline">
                                <input class="radiopessoa" name="optionsRadios" type="radio" value="pfisica" checked>Pessoa Física
                            </label>
                            <label class="radio-inline">
                                <input class="radiopessoa" name="optionsRadios" type="radio" value="pjuridica">Pessoa Jurídica
                            </label>
                        </div>
                    </div>
                    <br />
                    <div class="formfisica">
                        <div class="row">
                            <div class="col-md-4">
                                <label>CPF</label>
                                <input type="number" class="form-control novocpff">
                            </div>
                            <div class="col-md-3">
                                <label>RG</label>
                                <input class="form-control novorgf">
                            </div>
                            <div class="col-md-2">
                                <label>Orgão Emissor</label>
                                <input type="text" class="form-control novoemissorf">
                            </div>
                            <div class="col-md-3">
                                <label>Data de Expedição</label>
                                <input type="date" class="form-control novodtexpedicaof">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label>Rua</label>
                                <input type="text" class="form-control novoenderecof">
                            </div>
                            <div class="col-md-3">
                                <label>Número</label>
                                <input type="text" class="form-control novonumerof">
                            </div>
                            <div class="col-md-6">
                                <label>Complemento</label>
                                <input type="text" class="form-control novocomplementof">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label>CEP</label>
                                <input type="text" class="form-control novocepf">
                            </div>
                            <div class="col-md-3">
                                <label>Cidade</label>
                                <input type="text" class="form-control novocidadef">
                            </div>
                            <div class="col-md-3">
                                <label>UF</label>
                                <input type="text" class="form-control novouff">
                            </div>
                            <div class="col-md-3">
                                <label>Bairro</label>
                                <input type="text" class="form-control novobairrof">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <label>Estado Civil </label>
                                <select id="ComboEstadoCivilNovo" class="form-control" name="ComboEstadoCivilNovo">
                                    <option>Selecione</option>
                                </select>
                                <span class="glyphicon form-control-feedback" id="ComboEstadoCivilNovo1"></span>
                            </div>
                            <div class="col-md-4 divnomeconjugue" hidden>
                                <label>Nome Conjugue</label>
                                <input type="text" class="form-control novonomeconjuguef">
                            </div>
                            <div class="col-md-3 divcpfconjugue" hidden>
                                <label>CPF Conjugue</label>
                                <input type="text" class="form-control novocpfconjuguef">
                            </div>
                            <div class="col-md-3 divnasciconjugue" hidden>
                                <label>Data de Nascimento Conjugue</label>
                                <input type="date" class="form-control novodtnascimentoconjuguef">
                            </div>
                            <div class="col-md-4">
                                <label>Profissão</label>
                                <input type="text" class="form-control novoprofissaof">
                            </div>
                            <div class="col-md-3">
                                <label>Cidade Nascimento</label>
                                <input type="text" class="form-control novocidadenascf">
                            </div>
                            <div class="col-md-3">
                                <label>Nacionalidade</label>
                                <input type="text" class="form-control novonaciof">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label>Banco</label>
                                <input type="text" class="form-control novobancof">
                            </div>
                            <div class="col-md-3">
                                <label>Agência</label>
                                <input type="text" class="form-control novoagenciaf">
                            </div>
                            <div class="col-md-3">
                                <label>Conta</label>
                                <input type="text" class="form-control novocontaf">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <label class="radio-inline">
                                    <input class="formpagamentof" name="optionsRadiosPag" type="radio" value="1" checked>Boleto
                                </label>
                                <label class="radio-inline">
                                    <input class="formpagamentof" name="optionsRadiosPag" type="radio" value="2">Cartão de Crédito
                                </label>
                                <label class="radio-inline">
                                    <input class="formpagamentof" name="optionsRadiosPag" type="radio" value="3">Débito em Conta
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="formjuridica" hidden>
                        <div class="row">
                            <div class="col-md-4">
                                <label>CNPJ</label>
                                <input type="number" class="form-control novocnpjj">
                            </div>
                            <div class="col-md-4">
                                <label>Razão Social</label>
                                <input type="text" class="form-control novorazaosocialj">
                            </div>
                            <div class="col-md-4">
                                <label>Nome Fantasia</label>
                                <input type="text" class="form-control novonomefantasiaj">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label>Fundação</label>
                                <input type="text" class="form-control novofundacaoj">
                            </div>
                            <div class="col-md-3">
                                <label>Capital Social</label>
                                <input type="text" class="form-control novocapitalj">
                            </div>
                            <div class="col-md-3">
                                <label>Tipo de Capital</label>
                                <input type="text" class="form-control novotipocapitalj">
                            </div>
                            <div class="col-md-3">
                                <label>Atividade</label>
                                <input type="text" class="form-control novoatividadej">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label>Nome do Sócio</label>
                                <input type="text" class="form-control novonomesocioj">
                            </div>
                            <div class="col-md-3">
                                <label>Cargo do Sócio</label>
                                <input type="text" class="form-control novocargosocioj">
                            </div>
                            <div class="col-md-3">
                                <label>CPF do Sócio</label>
                                <input type="text" class="form-control novocpfsocioj">
                            </div>
                            <div class="col-md-3">
                                <label>Participação do Sócio</label>
                                <input type="text" class="form-control novoparticipacaoj">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label>Rua</label>
                                <input type="text" class="form-control novoruaj">
                            </div>
                            <div class="col-md-3">
                                <label>Número</label>
                                <input type="text" class="form-control novonumeroj">
                            </div>
                            <div class="col-md-6">
                                <label>Complemento</label>
                                <input type="text" class="form-control novocomplementoj">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label>CEP</label>
                                <input type="number" class="form-control novocepj">
                            </div>
                            <div class="col-md-3">
                                <label>Cidade</label>
                                <input type="text" class="form-control novocidadej">
                            </div>
                            <div class="col-md-3">
                                <label>UF</label>
                                <input type="text" class="form-control novoufj">
                            </div>
                            <div class="col-md-3">
                                <label>Bairro</label>
                                <input type="text" class="form-control novobairroj">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <label>Banco</label>
                                <input type="text" class="form-control novobancoj">
                            </div>
                            <div class="col-md-4">
                                <label>Agência</label>
                                <input type="text" class="form-control novoagenciaj">
                            </div>
                            <div class="col-md-4">
                                <label>Conta</label>
                                <input type="text" class="form-control novocontaj">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <label class="radio-inline">
                                    <input class="formpagamentoj" name="optionsRadiosPag" type="radio" value="boleto" checked>Boleto
                                </label>
                                <label class="radio-inline">
                                    <input class="formpagamentoj" name="optionsRadiosPag" type="radio" value="cartaoc">Cartão de Crédito
                                </label>
                                <label class="radio-inline">
                                    <input class="formpagamentoj" name="optionsRadiosPag" type="radio" value="debitocont">Débito em Conta
                                </label>
                            </div>
                        </div>


                    </div>




                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Contatos</h3>
                    <div class="novocontato">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Data</label>
                                <input type="date" class="form-control novocontdata1">
                            </div>
                            <div class="col-md-2">
                                <label>Hora</label>
                                <input type="time" class="form-control novohora1">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-10">
                                <label>Observação</label>
                                <textarea class="form-control novocontobs1" rows="10"></textarea>
                            </div>

                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-success btnsalvaragend">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong>Salvar</strong>
                    </button>
                    <button type="button" class="btn btn-success btnovocontato">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><strong> Agendar Novo Contato</strong>
                    </button>
                </div>
            </div>

            <div class="modal fade modalmsg " data-backdrop="static" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">

                        </div>

                        <div class="modal-body modalbodymsg" role="alert" align="center">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btnokmodal" onclick="" data-dismiss="modal">OK</button>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->



}
