﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dthoje = DateTime.Now.Year + "-" + (DateTime.Now.Month < 10 ? "0" + DateTime.Now.Month.ToString() : DateTime.Now.Month.ToString()) + "-" + (DateTime.Now.Day < 10 ? "0" + DateTime.Now.Day.ToString() : DateTime.Now.Day.ToString());
}

@section Js
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="~/Scripts/agendamento.js"></script>
    <script src="~/Scripts/agendamentodetalhe.js"></script>
    <script>


        $(function () {

            $.ajax({
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                url: '/Combo/ComboConsultor',
                success: function (json) {
                    var a = "";

                    $(json).each(function () {

                        a += "<option value=" + this.consultorid + ">" + this.nome + "</option>";

                    });

                    $("#ComboConsultorNovo").append(a);
                }

            });

            $.ajax({
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                url: '/Combo/ComboEstadoCivil',
                success: function (json) {
                    var a = "";

                    $(json).each(function () {

                        a += "<option value=" + this.estadocivilid + ">" + this.descricao + "</option>";

                    });

                    $("#ComboEstadoCivilNovo").append(a);
                }

            });

            $.ajax({
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                url: '/Agendamento/BuscaTipoAgendamento',
                success: function (json) {
                    var a = "";

                    $(json).each(function () {

                        a += "<option value=" + this.Id + ">" + this.Descricao + "</option>";
                    });

                    $("#TipoCliente").append(a);
                }
            });
        });
    </script>
}






@using (Html.BeginForm())
{

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        NOVO AGENDAMENTO
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="../Agendamento/Agendamento">Agendamento</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Novo Agendamento
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">

                <div class="col-lg-12">
                    <h3 class="page-header">Cliente</h3>
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group has-feedback">
                                <label>Tipo </label>
                                <select id="ComboTipoCliente" class="form-control" name="ComboTipoCliente">
                                    <option value="0">Selecione</option>

                                </select>
                                <span class="glyphicon form-control-feedback" id="ComboEstadoCivilNovo1"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>Nome</label>
                                <input type="text" class="form-control novonome" name="nomecliente" id="nomecliente">
                                <span class="glyphicon form-control-feedback" id="nomecliente1"></span>

                            </div>
                            <div class="form-group has-feedback">
                                <label>Fone 1</label>
                                <input type="tel" class="form-control novofone1 " name="novofone1" id="novofone1">
                                <span class="glyphicon form-control-feedback" id="novofone11"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>Fone 2</label>
                                <input type="tel" class="form-control novofone2">
                            </div>
                            <div class="form-group has-feedback">
                                <label>E-mail</label>
                                <input type="email" class="form-control novoemail" name="novoemail" id="novoemail">
                                <span class="glyphicon form-control-feedback" id="novoemail1"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>Dt. Atendimento</label>
                                <input type="date" class="form-control novodtatentimento" name="novodtatentimento" id="novodtatentimento" value="@dthoje">
                                <span class="glyphicon form-control-feedback" id="novoemail1"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>Protocolo</label>
                                <input type="text" class="form-control protocolo" name="protocolo" id="protocolo">
                                <span class="glyphicon form-control-feedback" id="protocolo1"></span>

                            </div>
                            <div class="form-group has-feedback">
                                <label>Número do Contrato</label>
                                <input type="text" class="form-control numerocontrato" maxlength="6" name="numerocontrato" id="numerocontrato">
                                <span class="glyphicon form-control-feedback" id="numerocontrato1"></span>

                            </div>
                            <div class="form-group has-feedback">
                                <label>Consultor: </label>
                                <select id="ComboConsultorNovo" class="form-control" name="ComboConsultorNovo">
                                    <option>Selecione</option>
                                </select>
                                <span class="glyphicon form-control-feedback" id="ComboConsultorNovo1"></span>
                            </div>


                        </form>
                        <div class="form-group">
                            <label>Tipo</label>
                            <form class="form-inline">
                                <div class="checkbox">
                                    <label>
                                        <input class="checkautonovo" type="checkbox" value=""> Auto
                                        <input class="form-control novovalauto" placeholder="Digite o valor" style="left:95px;position:absolute;margin-top:-25px" disabled>
                                    </label>
                                </div>

                            </form>
                            <br /><form class="form-inline">
                                <div class="checkbox">
                                    <label>
                                        <input class="checkimonovo" type="checkbox" value=""> Imobiliário
                                        <input class="form-control novovalimoo" placeholder="Digite o valor" style="left:95px;position:absolute;margin-top:-25px" disabled>
                                    </label>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <h3 class="page-header">Dados Complementares para o Contrato</h3>
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input class="radiopessoa" name="optionsRadios" type="radio" value="pfisica" checked>Pessoa Física
                                </label>
                                <label class="radio-inline">
                                    <input class="radiopessoa" name="optionsRadios" type="radio" value="pjuridica">Pessoa Jurídica
                                </label>
                            </div>
                        </form>
                        <form class="formfisica" role="form">
                            <div class="form-group">
                                <label>CPF</label>
                                <input type="number" class="form-control novocpff">
                            </div>
                            <div class="form-group">
                                <label>RG</label>
                                <input class="form-control novorgf">
                            </div>
                            <div class="form-group">
                                <label>Orgão Emissor</label>
                                <input type="text" class="form-control novoemissorf">
                            </div>
                            <div class="form-group">
                                <label>Data de Expedição</label>
                                <input type="date" class="form-control novodtexpedicaof">
                            </div>
                            <div class="form-group">
                                <label>CEP</label>
                                <input type="text" class="form-control novocepf">
                            </div>
                            <div class="form-group">
                                <label>Rua</label>
                                <input type="text" class="form-control novoenderecof">
                            </div>
                            <div class="form-group">
                                <label>Número</label>
                                <input type="text" class="form-control novonumerof">
                            </div>
                            <div class="form-group">
                                <label>Bairro</label>
                                <input type="text" class="form-control novobairrof">
                            </div>
                            <div class="form-group">
                                <label>Cidade</label>
                                <input type="text" class="form-control novocidadef">
                            </div>
                            <div class="form-group">
                                <label>UF</label>
                                <input type="text" class="form-control novouff">
                            </div>
                            <div class="form-group has-feedback">
                                <label>Estado Civil </label>
                                <select id="ComboEstadoCivilNovo" class="form-control" name="ComboEstadoCivilNovo">
                                    <option>Selecione</option>
                                </select>
                                <span class="glyphicon form-control-feedback" id="ComboEstadoCivilNovo1"></span>
                            </div>
                            <div class="form-group divnomeconjugue" hidden>
                                <label>Nome Conjugue</label>
                                <input type="text" class="form-control novonomeconjuguef">
                            </div>
                            <div class="form-group divcpfconjugue" hidden>
                                <label>CPF Conjugue</label>
                                <input type="text" class="form-control novocpfconjuguef">
                            </div>

                            <div class="form-group">
                                <label>Profissão</label>
                                <input type="text" class="form-control novoprofissaof">
                            </div>
                            <div class="form-group">
                                <label>Cidade Nascimento</label>
                                <input type="text" class="form-control novocidadenascf">
                            </div>
                            <div class="form-group">
                                <label>Nacionalidade</label>
                                <input type="text" class="form-control novonaciof">
                            </div>
                            <div class="form-group">
                                <label>Fone Fixo</label>
                                <input type="tel" class="form-control novofonef">
                            </div>
                            <div class="form-group">
                                <label>Celular</label>
                                <input type="tel" class="form-control novocelf">
                            </div>
                            <div class="form-group">
                                <label>Banco</label>
                                <input type="text" class="form-control novobancof">
                            </div>
                            <div class="form-group">
                                <label>Agência</label>
                                <input type="text" class="form-control novoagenciaf">
                            </div>
                            <div class="form-group">
                                <label>Conta</label>
                                <input type="text" class="form-control novocontaf">
                            </div>
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input class="formpagamentof" name="optionsRadiosPag" type="radio" value="1" checked>Boleto
                                </label>
                                <label class="radio-inline">
                                    <input class="formpagamentof" name="optionsRadiosPag" type="radio" value="2">Cartão de Crédito
                                </label>
                                <label class="radio-inline">
                                    <input class="formpagamentof" name="optionsRadiosPag" type="radio" value="3">Débito em Conta
                                </label>
                            </div>
                        </form>
                        <form class="formjuridica" role="form" hidden>

                            <div class="form-group">
                                <label>CNPJ</label>
                                <input type="number" class="form-control novocnpjj">
                            </div>
                            <div class="form-group">
                                <label>Razão Social</label>
                                <input type="text" class="form-control novorazaosocialj">
                            </div>
                            <div class="form-group">
                                <label>Nome Fantasia</label>
                                <input type="text" class="form-control novonomefantasiaj">
                            </div>
                            <div class="form-group">
                                <label>Fundação</label>
                                <input type="text" class="form-control novofundacaoj">
                            </div>
                            <div class="form-group">
                                <label>Capital Social</label>
                                <input type="text" class="form-control novocapitalj">
                            </div>
                            <div class="form-group">
                                <label>Tipo de Capital</label>
                                <input type="text" class="form-control novotipocapitalj">
                            </div>
                            <div class="form-group">
                                <label>Atividade</label>
                                <input type="text" class="form-control novoatividadej">
                            </div>
                            <div class="form-group">
                                <label>Nome do Sócio</label>
                                <input type="text" class="form-control novonomesocioj">
                            </div>
                            <div class="form-group">
                                <label>Cargo do Sócio</label>
                                <input type="text" class="form-control novocargosocioj">
                            </div>
                            <div class="form-group">
                                <label>CPF do Sócio</label>
                                <input type="text" class="form-control novocpfsocioj">
                            </div>
                            <div class="form-group">
                                <label>Participação do Sócio</label>
                                <input type="text" class="form-control novoparticipacaoj">
                            </div>
                            <div class="form-group">
                                <label>CEP</label>
                                <input type="number" class="form-control novocepj">
                            </div>
                            <div class="form-group">
                                <label>Rua</label>
                                <input type="text" class="form-control novoruaj">
                            </div>
                            <div class="form-group">
                                <label>Número</label>
                                <input type="text" class="form-control novonumeroj">
                            </div>
                            <div class="form-group">
                                <label>Bairro</label>
                                <input type="text" class="form-control novobairroj">
                            </div>
                            <div class="form-group">
                                <label>Cidade</label>
                                <input type="text" class="form-control novocidadej">
                            </div>
                            <div class="form-group">
                                <label>UF</label>
                                <input type="text" class="form-control novoufj">
                            </div>
                            <div class="form-group">
                                <label>Fone Fixo</label>
                                <input type="tel" class="form-control novofonej">
                            </div>
                            <div class="form-group">
                                <label>Celular</label>
                                <input type="tel" class="form-control novocelularj">
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
                                <input type="email" class="form-control novoemailj">
                            </div>
                            <div class="form-group">
                                <label>Banco</label>
                                <input type="text" class="form-control novobancoj">
                            </div>
                            <div class="form-group">
                                <label>Agência</label>
                                <input type="text" class="form-control novoagenciaj">
                            </div>
                            <div class="form-group">
                                <label>Conta</label>
                                <input type="text" class="form-control novocontaj">
                            </div>
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input class="formpagamentoj" name="optionsRadiosPag" type="radio" value="boleto" checked>Boleto
                                </label>
                                <label class="radio-inline">
                                    <input class="formpagamentoj" name="optionsRadiosPag" type="radio" value="cartaoc">Cartão de Crédito
                                </label>
                                <label class="radio-inline">
                                    <input class="formpagamentoj" name="optionsRadiosPag" type="radio" value="debitocont">Débito em Conta
                                </label>
                            </div>

                        </form>


                    </div>

                </div>
                <div class="col-lg-12">
                    <h3 class="page-header">Contatos</h3>
                    <div class="col-lg-6">
                        <div class="novocontato">
                            <form role="form">
                                <div class="form-group">
                                    <label>Data</label>
                                    <input type="date" class="form-control novocontdata1">
                                </div>
                                <div class="form-group">
                                    <label>Hora</label>
                                    <input type="time" class="form-control novohora1">
                                </div>
                                <div class="form-group">
                                    <label>Observação</label>
                                    <textarea class="form-control novocontobs1" rows="10"></textarea>
                                </div>

                            </form>
                        </div>
                        <br /><div align="right">
                            <button type="button" class="btn btn-success btnovocontato">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><strong> Agendar Novo Contato</strong>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <h3 class="page-header"></h3>
                    <div class="col-lg-6">
                        <form role="form">
                            <div align="right">
                                <button type="button" class="btn btn-success btnsalvaragend">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong>Salvar</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal fade modalmsg " data-backdrop="static" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">

                            </div>

                            <div class="modal-body modalbodymsg" role="alert" align="center">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btnokmodal" onclick="" data-dismiss="modal">OK</button>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>


}
